<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../../res/bento.css">
  <link rel="stylesheet" href="../../../res/site.css">
  <link rel="stylesheet" href="../../../res/tree.css">
  <link rel="stylesheet" href="../../../res/sibling.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="../../../img/trumpf-icon.png">
  <title>Tagli del grigliato residuo</title>
</head>
<body id="site-body" onload="sLoaded()">
    <header id="site-header">
        <div id="header-logo"><img src="../../../img/logo.trumpf.png" width="120" height="40" /></div>
        <div><p>TecZone Reference Manual</p></div>
    </header>
    <div id="site-main">
        <nav id="site-nav">
            <div class="treesite">
 <ul>
  <li><button class="tree blank"></button><a href="../../../index.html">Benvenuti in TecZone</a></li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../intro/index.html">Introduzione</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../intro/install.html">Installazione del software</a></li>
    <li><button class="tree blank"></button><a href="../../../intro/clarity.html">L'interfaccia utente</a></li>
    <li><button class="tree blank"></button><a href="../../../intro/workflow.html">Workflow pezzo</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../cad/index.html">CAD</a>
   <ul class="hide">
    <li>
     <button class="tree closed"></button>
     <a href="../../../cad/2dimport/index.html">Importazione 2D</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../cad/2dimport/2dcleanup.html">Pulizia 2D</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../cad/3dimport/index.html">Importazione 3D</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../cad/3dimport/prep3dmodel.html">Importazione modello 3D</a></li>
      <li><button class="tree blank"></button><a href="../../../cad/3dimport/prepassembly.html">Importazione gruppo costruttivo</a></li>
      <li><button class="tree blank"></button><a href="../../../cad/3dimport/formdetect.html">Riconoscimento delle forme</a></li>
      <li><button class="tree blank"></button><a href="../../../cad/3dimport/componentdetect.html">Riconoscimento dei componenti</a></li>
     </ul>
    </li>
    <li><button class="tree blank"></button><a href="../../../cad/sketch.html">Modifica della geometria</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../cut/index.html">CAM laser</a>
   <ul class="hide">
    <li>
     <button class="tree closed"></button>
     <a href="../../../cut/partworkflow/index.html">Workflow pezzo</a>
     <ul class="hide">
      <li>
       <button class="tree closed"></button>
       <a href="../../../cut/partworkflow/panels/index.html">Pannelli di modifica</a>
       <ul class="hide">
        <li>
         <button class="tree closed"></button>
         <a href="../../../cut/partworkflow/panels/lasercut/index.html">Taglio laser</a>
         <ul class="hide">
          <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/lasercut/approach.html">Accostamento</a></li>
          <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/lasercut/withdrawal.html">Ritorno</a></li>
          <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/lasercut/microjoint.html">Microgiunzione</a></li>
          <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/lasercut/advanced.html">Avanzato</a></li>
         </ul>
        </li>
        <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/contour.html">Contorno</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/scrapcut.html">Taglio degli sfridi</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/part.html">Pezzo</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/cornertreatment.html">Trattamento degli spigoli</a></li>
       </ul>
      </li>
      <li><button class="tree blank"></button><a href="../../../cut/partworkflow/quicknest.html">Quick Nest</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../cut/jobworkflow/index.html">Workflow job</a>
     <ul class="hide">
      <li>
       <button class="tree closed"></button>
       <a href="../../../cut/jobworkflow/jobpanel/index.html">Pannello Job</a>
       <ul class="hide">
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/jobpanel/sheets.html">Scheda Lamiere</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/jobpanel/parts.html">Scheda Pezzi</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/jobpanel/layouts.html">Scheda Layout</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/jobpanel/summary.html">Scheda Sintesi</a></li>
       </ul>
      </li>
      <li>
       <button class="tree closed"></button>
       <a href="../../../cut/jobworkflow/editlayout/index.html">Modifica layout</a>
       <ul class="hide">
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/editlayout/nestingmodes.html">Modalità di nesting</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/editlayout/placementpanel.html">Pannello Posizionamento</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/editlayout/sequencing.html">Sequenziamento</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/editlayout/slicesheet.html">Porzione di lamiera</a></li>
       </ul>
      </li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../cut/bevelcut/index.html">Taglio dello smusso</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../cut/bevelcut/opencontours.html">Contorni aperti</a></li>
      <li><button class="tree blank"></button><a href="../../../cut/bevelcut/variablebevel.html">Smusso variabile</a></li>
      <li><button class="tree blank"></button><a href="../../../cut/bevelcut/miscellaneous.html">Varie</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../cut/advanced/index.html">Avanzato</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../cut/advanced/finishingrules.html">Regole di lavoro di finitura</a></li>
      <li><button class="tree blank"></button><a href="../../../cut/advanced/editltt.html">Modifica della tabella tecnologica laser per il taglio</a></li>
      <li><button class="tree blank"></button><a href="../../../cut/advanced/flyline.html">FlyLine</a></li>
      <li>
       <button class="tree closed"></button>
       <a href="../../../cut/advanced/twinline/index.html">TwinLine</a>
       <ul class="hide">
        <li><button class="tree blank"></button><a href="../../../cut/advanced/twinline/strategies.html">Strategia</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/advanced/twinline/microjoints.html">Microgiunzioni</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/advanced/twinline/stability.html">Ulteriori impostazioni</a></li>
       </ul>
      </li>
      <li><button class="tree blank"></button><a href="../../../cut/advanced/detectline.html">DetectLine</a></li>
     </ul>
    </li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../bend/index.html">CAM piega</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../bend/createbenddata.html">Creazione di parametri di piegatura</a></li>
    <li><button class="tree blank"></button><a href="../../../bend/navigator.html">Bend Navigator</a></li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bend/editing/index.html">Modifica dei parametri di piegatura</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bend/editing/editbend.html">Modifica di una piega</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/editmount.html">Modifica di un supporto dell'utensile</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/editsetup.html">Modifica di una configurazione della piega</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/editgauge.html">Modifica dei perni di battuta</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/editacb.html">Modifica della misurazione degli angoli</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/bendsheet.html">Foglio di calcolo Pieghe</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/sequencing.html">Modifica della sequenza</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/addsetup.html">Aggiunta di configurazioni e stazioni</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bend/advanced/index.html">Avanzato</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bend/advanced/anglemeasurement.html">Misurazione degli angoli</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/advanced/batchprocess.html">Lavorazione di lotti</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/advanced/recompute.html">Ricalcolo della soluzione</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/advanced/tonnage.html">Controllo del tonnellaggio</a></li>
     </ul>
    </li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../bcell/index.html">CAM BendMaster</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../bcell/navigator.html">Bend Navigator</a></li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bcell/pickup/index.html">Prelievo dei pezzi</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bcell/pickup/frompallet.html">Prelievo da paletta</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/pickup/fromdispenser.html">Prelievo dal distributore</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bcell/bending/index.html">Piegatura robotizzata</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bcell/bending/insertion.html">Inserimento</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/bending/bending.html">Piegatura</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/bending/extraction.html">Estrazione</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bcell/regrip/index.html">Seconda presa</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bcell/regrip/regrippanel.html">Pannello Regrip</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/regrip/addregrip.html">Aggiunta di una seconda presa</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/regrip/editregrip.html">Modifica seconda presa</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/regrip/jawregrip.html">Seconda presa con ganascia</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/regrip/rgstationpanel.html">Pannello Stazione per seconda presa</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bcell/deposit/index.html">Deposito pezzi</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bcell/deposit/patterns.html">Modelli di deposito</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/deposit/repeat.html">Ripetizione e sequenza</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/deposit/separatorsheet.html">Lamiera di separazione</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bcell/advanced/index.html">Avanzato</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bcell/advanced/waypoints.html">Punto percorso</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/advanced/cellconfig.html">Configurazione delle celle</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/advanced/gripperdb.html">Banca dati gripper</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/advanced/reports.html">Report</a></li>
     </ul>
    </li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../fold/index.html">CAM risvolto</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../fold/createfolddata.html">Creazione di dati risvolto</a></li>
    <li><button class="tree blank"></button><a href="../../../fold/foldview.html">La vista Risvolto</a></li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../fold/editing/index.html">Modifica dei dati risvolto</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../fold/editing/editbend.html">Modifica di una piega</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editside.html">Modifica di un lato/sezione</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editseq.html">Modifica della sequenza</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editbh.html">Modifica dei premilamiera superiori</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editgauge.html">Modifica della calibrazione</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editblade.html">Modifica delle lame</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editload.html">Modifica del caricamento</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editunload.html">Modifica dello scaricamento</a></li>
     </ul>
    </li>
    <li><button class="tree blank"></button><a href="../../../fold/toolinventory.html">Giacenza utensili</a></li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../fold/advanced/index.html">Avanzato</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../fold/advanced/airgaptables.html">Tabelle traferro personalizzate</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/advanced/manualbend.html">Completamento piega manuale</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/advanced/minflangelength.html">Lunghezza lato richiesta</a></li>
     </ul>
    </li>
   </ul>
  </li>
  <li>
   <button class="tree open"></button>
   <a href="../../index.html">Impostazioni</a>
   <ul>
    <li>
     <button class="tree closed"></button>
     <a href="../../drawing/index.html">Disegno</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../drawing/layers.html">Layer</a></li>
      <li><button class="tree blank"></button><a href="../../drawing/dimensions.html">Dimensioni</a></li>
      <li><button class="tree blank"></button><a href="../../drawing/view.html">Vista</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../bendcam/index.html">CAM piega</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../bendcam/benddefaults.html">Impostazioni predefinite macchina</a></li>
      <li><button class="tree blank"></button><a href="../../bendcam/bendoutputs.html">Uscite di piega</a></li>
      <li><button class="tree blank"></button><a href="../../bendcam/bendview.html">Vista piega</a></li>
      <li><button class="tree blank"></button><a href="../../bendcam/bendcell.html">Cella di piegatura</a></li>
     </ul>
    </li>
    <li>
     <button class="tree open"></button>
     <a href="../index.html">CAM taglio</a>
     <ul>
      <li>
       <button class="tree open"></button>
       <a href="index.html">Layout</a>
       <ul>
        <li><button class="tree blank"></button><a href="nesting.html">Impostazioni di nesting</a></li>
        <li><button class="tree blank"></button><a href="sheet.html">Lamiera</a></li>
        <li><button class="tree blank"></button><a href="sheethandling.html">Movimentazione lamiera</a></li>
        <li><button class="tree blank"></button><a class="active" href="skeletoncuts.html">Tagli del grigliato residuo</a></li>
        <li><button class="tree blank"></button><a href="worksupport.html">Supporto di lavoro</a></li>
       </ul>
      </li>
      <li>
       <button class="tree closed"></button>
       <a href="../lasercam/index.html">CAM laser</a>
       <ul class="hide">
        <li><button class="tree blank"></button><a href="../lasercam/sequence.html">Sequenza</a></li>
       </ul>
      </li>
      <li><button class="tree blank"></button><a href="../cutoutputs.html">Output di taglio</a></li>
      <li><button class="tree blank"></button><a href="../cutview.html">Vista taglio</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../foldcam/index.html">Piegatura a rotazione</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../foldcam/defaults.html">Impostazioni predefinite</a></li>
      <li><button class="tree blank"></button><a href="../../foldcam/zbwcarriers.html">Trasportatori utensile di piegatura ausiliario</a></li>
      <li><button class="tree blank"></button><a href="../../foldcam/foldoutputs.html">Output</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../reports/index.html">Report</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../reports/itemdefaults.html">Valori predefiniti elementi</a></li>
     </ul>
    </li>
    <li><button class="tree blank"></button><a href="../../importexport.html">Importazione/esportazione</a></li>
    <li><button class="tree blank"></button><a href="../../environment.html">Ambiente</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../database/index.html">Banca dati</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../database/materials.html">Materiali</a></li>
    <li><button class="tree blank"></button><a href="../../../database/machines.html">Macchine</a></li>
    <li><button class="tree blank"></button><a href="../../../database/bendtools.html">Utensili di piegatura</a></li>
    <li><button class="tree blank"></button><a href="../../../database/bendgrippers.html">Gripper di piegatura</a></li>
    <li><button class="tree blank"></button><a href="../../../database/formscomponents.html">Forme/componenti</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../report/index.html">Report</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../report/designer.html">Report Designer</a></li>
    <li><button class="tree blank"></button><a href="../../../report/fields.html">Campi, immagini e tabelle</a></li>
    <li><button class="tree blank"></button><a href="../../../report/bands.html">Bande (sottoreport)</a></li>
    <li><button class="tree blank"></button><a href="../../../report/labels.html">Etichette, bitmap e forme</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../appendix/index.html">Appendice</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../appendix/3dformats.html">Formati 3D supportati</a></li>
    <li><button class="tree blank"></button><a href="../../../appendix/bseparatordxf.html">DXF lamiera di separazione</a></li>
    <li><button class="tree blank"></button><a href="../../../appendix/bendtooldxf.html">DXF utensile di piegatura</a></li>
   </ul>
  </li>
  <li><button class="tree blank"></button><a href="../../../impressum.html">Impressum</a></li>
 </ul>
</div>

        </nav>
        <div id="site-nav-right">
            <nav id="site-crumb">
 <div>
  <button>
   <img src="../../../res/home.png">
  </button>
 </div>
 <div>
  <a href="../../index.html">Impostazioni</a>
 </div>
 <div>/</div>
 <div>
  <a href="../index.html">CAM taglio</a>
 </div>
 <div>/</div>
 <div>
  <a href="index.html">Layout</a>
 </div>
 <div>/</div>
 <div>
  <a href="skeletoncuts.html">Tagli del grigliato residuo</a>
 </div>
</nav>

            <div id="site-crumb-below">
                <div id="site-toc-left">
                    <article id="article">
                        <h1>Tagli del grigliato residuo</h1>
<div class="sect1">
<h2 id="_sheet_cutting_rules">Sheet Cutting Rules</h2>
<div class="sectionbody">
<div class="imageblock">
<div class="content">
<img src="img/skeletoncuts.png" alt="skeletoncuts" width="700">
</div>
</div>
<div class="paragraph">
<p><strong>Slice sheet skeleton</strong>: attivando questa opzione, TecZone Laser
aggiungerà automaticamente tagli orizzontali e verticali distanziati al layout. Le
linee di tranciatura vengono aggiunte dallo spigolo in basso a sinistra della lamiera. Se una linea di tranciatura
passa attraverso alcuni pezzi, TecZone Laser lo rileverà automaticamente e aggiungerà
più linee di tranciatura per tagliare solo la lamiera residua rimasta tra i
pezzi.</p>
</div>
<div class="paragraph">
<p><strong>X spacing between vertical sheet cuts</strong>: è la
spaziatura tra le linee di tranciatura verticali.</p>
</div>
<div class="paragraph">
<p><strong>Y spacing between horizontal sheet cuts</strong>: questa è la
spaziatura tra le linee di tranciatura orizzontali.</p>
</div>
<div class="paragraph">
<p><strong>Create remainder sheet</strong>: un foglio residuo crea un
taglio netto per separare il foglio residuo dal grigliato residuo.</p>
</div>
<div class="paragraph">
<p><strong>Minimum remainder sheet width</strong>: anche se viene verificato quanto sopra,
un taglio finale sarà aggiunto solo quando la larghezza della lamiera
inutilizzata creata dal taglio sarà maggiore o uguale a questo valore.</p>
</div>
<div class="paragraph">
<p><strong>Final cut X offset</strong>: è la distanza
dall&#8217;estremità più a destra dell&#8217;attrezzaggio del pezzo al taglio verticale finale che
crea la lamiera residua.</p>
</div>
<div class="paragraph">
<p><strong>Microjoint spacing on long cuts (0 = no internal microjoints)</strong>:
TecZone Laser ha la capacità di creare microgiunzioni su tagli della lamiera in modo automatico. L&#8217;utente può
specificare la distanza di spaziatura delle microgiunzioni in <strong>Sheet cutting rules</strong> nelle impostazioni.
Le microgiunzioni saranno inserite in qualsiasi taglio che sia più lungo di questo valore. L&#8217;impostazione predefinita
è 0 mm, il che significa che le microgiunzioni non sono necessarie sui tagli della
lamiera.</p>
</div>
<div class="paragraph">
<p>Sui tagli della lamiera sono possibili due tipi di microgiunzioni: <strong>dure</strong> e <strong>nano</strong>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Per impostazione predefinita vengono create microgiunzione dure, a meno che non si preferisca l&#8217;opzione "nano".
</td>
</tr>
</table>
</div>
<div class="paragraph">
<p>Anche per le microgiunzioni, l&#8217;incisione preliminare si verificherà sulla linea. Non ci sarà alcun percorso di
accostamento. Tuttavia, se la LTT raccomanda un accostamento a velocità ridotta, una parte della
linea verrà tagliata a velocità ridotta dopo la microgiunzione.</p>
</div>
<div class="paragraph">
<p><strong>Mark remainder sheet with size, material &amp; thickness</strong>:
TecZone Laser può marcare il foglio residuo con il nome del materiale, lo spessore e le dimensioni.</p>
</div>
<div class="paragraph">
<p>Se questa opzione è selezionata, la marcatura verrà aggiunta se ci sono tagli del foglio residuo
sul layout. Se il taglio del foglio residuo viene rimosso a causa di alcune modifiche alle impostazioni,
anche la marcatura verrà rimossa. La marcatura sarà sempre allineata lungo il taglio della lamiera e
posizionata al suo centro. Se non c&#8217;è abbastanza spazio per inserire il testo, TecZone Laser
ridurrà automaticamente la dimensione del testo o cambierà l&#8217;orientamento del testo di marcatura.</p>
</div>
<div class="paragraph">
<p>La marcatura può anche essere modificata utilizzando le impostazioni <strong>Laser Text</strong>.
Le modifiche applicate al testo, all&#8217;altezza e all&#8217;angolo vengono ricordate, ma la posizione viene
ricalcolata ogni volta che la posizione dei tagli rimanenti cambia.</p>
</div>
<div class="paragraph">
<p><strong>Prefer remainder sheet along the longer dimension</strong>:
questa opzione sarà <strong>attivata</strong> per impostazione predefinita. Se questa opzione è attivata, il motore di nesting
sceglierà il modello con i pezzi spinti lungo la dimensione più grande a meno che
il modello con pezzi spinti lungo la dimensione più corta consenta di risparmiare il 50% in più di lamiera
rispetto alla prima opzione. Se questa opzione è disattivata, il motore di nesting sceglierà il modello
che produce una lamiera residua migliore (in base all&#8217;area della lamiera residua), indipendentemente
della direzione di nesting.</p>
</div>
<div class="paragraph">
<p><strong>Process sheet cuts after all parts</strong>: per
impostazione predefinita, durante il sequenziamento TecZone Laser elaborerà i tagli di tranciatura prima
della lavorazione dell&#8217;attrezzaggio dei pezzi. Questa opzione è di solito una buona idea, in quanto
la testa del laser può vagare liberamente intorno alla lamiera non tagliata mentre si effettua il taglio di
tranciatura. Tuttavia, se si desidera lavorare i tagli di tranciatura alla fine, dopo
la lavorazione di tutti i pezzi selezionare questa opzione. I seguenti parametri influenzano
il modo in cui ogni singolo taglio di tranciatura viene programmato.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_sheet_cut_parameters">Sheet cut parameters</h2>
<div class="sectionbody">
<div class="imageblock">
<div class="content">
<img src="img/sheetpara.png" alt="sheetpara" width="600">
</div>
</div>
<div class="paragraph">
<p><strong>Microjoint gap at sheet edge</strong>:
impostare questo valore su un valore maggiore di zero se si vuole lasciare un piccolo ponticello
nei punti in cui il taglio di tranciatura tocca il bordo della lamiera.</p>
</div>
<div class="paragraph">
<p><strong>Microjoint gap at part edge</strong>:
impostare questo valore su un
valore maggiore di zero se si vuole lasciare un piccolo ponticello nei punti in cui
il taglio di tranciatura tocca il bordo del pezzo.</p>
</div>
<div class="paragraph">
<p><strong>Pierce distance from part edge</strong>:
è la
distanza del punto d&#8217;incisione preliminare dal bordo del pezzo. Se è un valore diverso da
zero, TecZone Laser effettuerà un&#8217;incisione preliminare a questa distanza dal bordo, quindi si sposterà
verso il bordo, prima di girare di 180 gradi al bordo,
ripercorrendo l&#8217;accostamento fatto, per finire il taglio principale.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="img/ne45.bmp" alt="image" width="267" height="85">
</div>
</div>
<div class="paragraph">
<p><strong>Measuring distance from sheet edge</strong>: Se non vengono creati
giunti metallici sul bordo della lamiera, ciò implica che la
macchina deve tagliare la lamiera. Questa operazione non può però essere
eseguita con la regolazione dell&#8217;altezza attivata, in quanto si rischierebbe che la testa della macchina
collassi nel banco macchina dopo la lamiera. Questo parametro
identifica la distanza prima del bordo della lamiera dove è bloccata l&#8217;altezza
della testa del laser; la regolazione della distanza è disattivata. Quando si avvia un
taglio al bordo della lamiera, la macchina raggiungerà effettivamente il punto di misurazione
definito da questo parametro, misurerà l&#8217;altezza della lamiera, bloccherà la posizione Z
della testa, si sposterà dalla lamiera, attiverà laser e poi avvierà il
taglio con regolazione della distanza spenta fino a raggiungere nuovamente lo stesso
punto di misurazione.</p>
</div>
<div class="paragraph">
<p><strong>Overtravel after sheet edge</strong>: è la quantità pari alla quale
la testa della macchina si sposta oltre il bordo della lamiera con il laser acceso; la regolazione della distanza
è però spenta. È possibile fornire la distanza sovracorsa per il bordo sinistro, inferiore,
destro e superiore individualmente.</p>
</div>
<div class="paragraph">
<p><strong>Start by piercing on sheet</strong>: quando si taglia una
lamiera, l&#8217;ugello si abbassa nel percorso sovracorsa. Se la testa del laser non viene
rialzata prima di rientrare nella lamiera, può urtare la lamiera e
danneggiare l&#8217;ugello. L&#8217;abilitazione della casella di controllo
<strong>Start by piercing on sheet</strong>
impedisce il danneggiamento dell&#8217;ugello. Per impostazione predefinita, questa opzione
è disattivata. Se abilitata, durante l&#8217;esecuzione di un taglio di tranciatura dal bordo della
lamiera, l&#8217;incisione preliminare sulla lamiera sarà effettuata più vicina al bordo, a parte
il bloccaggio della testa del laser nel punto in questione. Ciò impedisce il danneggiamento dell&#8217;ugello.</p>
</div>
</div>
</div>

                    </article>
                </div>
                <div id="site-toc-holder">
                    <aside id="site-toc">
 <h3>Contents</h3>
 <ul>
  <li level="1">
   <a href="#_sheet_cutting_rules">Sheet Cutting Rules</a>
  </li>
  <li level="1">
   <a href="#_sheet_cut_parameters">Sheet cut parameters</a>
  </li>
 </ul>
</aside>

                </div>
            </div>
            <nav class="pagination">
 <span class="prev"><a href="sheethandling.html">Movimentazione lamiera</a></span>
 <span class="next"><a href="worksupport.html">Supporto di lavoro</a></span>
</nav>

        </div>
        <div id="searchbox">
          <input id="searchinput" type="search" placeholder="Search... (Key: F)" autocomplete="false" size="30" />
          <ul id="results"></ul>
        </div>
    </div>
    <footer id="site-footer">
        <div class="left">
            <p>&nbsp;&nbsp;Copyright &copy; 2025 by TRUMPF SE + Co.KG. All rights reserved.</p>
        </div>
        <div class="middle"></div>
        <div class="right">
            <p>Compiled by Bento</p>
            <img src="../../../res/bento.png" />
        </div>
    </footer>
    <script>
        // The baseLevel is used to assign the search result pages.
        var baseLevel = "../../../res".replace("res", "");
    </script>
    <script src="https://unpkg.com/lunr/lunr.js"></script>
    <script src="../../../res/index.js"></script>
    <script src="../../../res/files.js"></script>
    <script src="../../../res/site.js"></script>

    
</body>
</html>
