<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../../res/bento.css">
  <link rel="stylesheet" href="../../../res/site.css">
  <link rel="stylesheet" href="../../../res/tree.css">
  <link rel="stylesheet" href="../../../res/sibling.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="../../../img/trumpf-icon.png">
  <title>Cortes do esqueleto</title>
</head>
<body id="site-body" onload="sLoaded()">
    <header id="site-header">
        <div id="header-logo"><img src="../../../img/logo.trumpf.png" width="120" height="40" /></div>
        <div><p>TecZone Reference Manual</p></div>
    </header>
    <div id="site-main">
        <nav id="site-nav">
            <div class="treesite">
 <ul>
  <li><button class="tree blank"></button><a href="../../../index.html">Bem-vindo ao TecZone</a></li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../intro/index.html">Introdução</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../intro/install.html">Instalando o software</a></li>
    <li><button class="tree blank"></button><a href="../../../intro/clarity.html">A interface do usuário</a></li>
    <li><button class="tree blank"></button><a href="../../../intro/workflow.html">Fluxograma da peça</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../cad/index.html">CAD</a>
   <ul class="hide">
    <li>
     <button class="tree closed"></button>
     <a href="../../../cad/2dimport/index.html">Importação 2D</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../cad/2dimport/2dcleanup.html">Limpeza 2D</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../cad/3dimport/index.html">Importação 3D</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../cad/3dimport/prep3dmodel.html">Importar modelo 3D</a></li>
      <li><button class="tree blank"></button><a href="../../../cad/3dimport/prepassembly.html">Importar Montagem</a></li>
      <li><button class="tree blank"></button><a href="../../../cad/3dimport/formdetect.html">Detecção de formas</a></li>
      <li><button class="tree blank"></button><a href="../../../cad/3dimport/componentdetect.html">Detecção de Componentes</a></li>
     </ul>
    </li>
    <li><button class="tree blank"></button><a href="../../../cad/sketch.html">Modificando a geometria</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../cut/index.html">Corte a Laser</a>
   <ul class="hide">
    <li>
     <button class="tree closed"></button>
     <a href="../../../cut/partworkflow/index.html">Fluxograma da peça</a>
     <ul class="hide">
      <li>
       <button class="tree closed"></button>
       <a href="../../../cut/partworkflow/panels/index.html">Painéis de Edição</a>
       <ul class="hide">
        <li>
         <button class="tree closed"></button>
         <a href="../../../cut/partworkflow/panels/lasercut/index.html">Corte a laser</a>
         <ul class="hide">
          <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/lasercut/approach.html">Aproximação</a></li>
          <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/lasercut/withdrawal.html">Retirada</a></li>
          <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/lasercut/microjoint.html">Microjoint</a></li>
          <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/lasercut/advanced.html">Avançado</a></li>
         </ul>
        </li>
        <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/contour.html">Contorno</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/scrapcut.html">Corte de refugo</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/part.html">Peça</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/cornertreatment.html">Tratamento de cantos</a></li>
       </ul>
      </li>
      <li><button class="tree blank"></button><a href="../../../cut/partworkflow/quicknest.html">Nesting rápido</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../cut/jobworkflow/index.html">Fluxograma da tarefa</a>
     <ul class="hide">
      <li>
       <button class="tree closed"></button>
       <a href="../../../cut/jobworkflow/jobpanel/index.html">Painel de Tarefas</a>
       <ul class="hide">
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/jobpanel/sheets.html">Aba Chapas</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/jobpanel/parts.html">Aba Peças</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/jobpanel/layouts.html">Aba Layout</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/jobpanel/summary.html">Aba Resumo</a></li>
       </ul>
      </li>
      <li>
       <button class="tree closed"></button>
       <a href="../../../cut/jobworkflow/editlayout/index.html">Editar layout</a>
       <ul class="hide">
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/editlayout/nestingmodes.html">Modos de nesting</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/editlayout/placementpanel.html">Painel de Colocação</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/editlayout/sequencing.html">Sequenciamento</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/editlayout/slicesheet.html">Fatiar chapa</a></li>
       </ul>
      </li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../cut/bevelcut/index.html">Corte oblíquo</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../cut/bevelcut/opencontours.html">Contornos Abertos</a></li>
      <li><button class="tree blank"></button><a href="../../../cut/bevelcut/variablebevel.html">Chanfro Variável</a></li>
      <li><button class="tree blank"></button><a href="../../../cut/bevelcut/miscellaneous.html">Miscelâneo</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../cut/advanced/index.html">Avançado</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../cut/advanced/finishingrules.html">Regras de acabamento</a></li>
      <li><button class="tree blank"></button><a href="../../../cut/advanced/editltt.html">Editar a LTT</a></li>
      <li><button class="tree blank"></button><a href="../../../cut/advanced/flyline.html">FlyLine</a></li>
      <li>
       <button class="tree closed"></button>
       <a href="../../../cut/advanced/twinline/index.html">TwinLine</a>
       <ul class="hide">
        <li><button class="tree blank"></button><a href="../../../cut/advanced/twinline/strategies.html">Estratégia</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/advanced/twinline/microjoints.html">Microjoints</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/advanced/twinline/stability.html">Outras configurações</a></li>
       </ul>
      </li>
      <li><button class="tree blank"></button><a href="../../../cut/advanced/detectline.html">DetectLine</a></li>
     </ul>
    </li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../bend/index.html">Prensa-dobradeira</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../bend/createbenddata.html">Criar dados de dobra</a></li>
    <li><button class="tree blank"></button><a href="../../../bend/navigator.html">Navegador de dobras</a></li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bend/editing/index.html">Editar dados de dobra</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bend/editing/editbend.html">Editar uma dobra</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/editmount.html">Editar um suporte de ferramenta</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/editsetup.html">Editar uma configuração de dobra</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/editgauge.html">Editar os encostos traseiros</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/editacb.html">Editar medição de ângulo</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/bendsheet.html">Planilha de dobras</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/sequencing.html">Alterando a sequência</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/addsetup.html">Adicionando configurações e estações</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bend/advanced/index.html">Avançado</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bend/advanced/anglemeasurement.html">Medição de ângulo</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/advanced/batchprocess.html">Processo em lote</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/advanced/recompute.html">Recalcular solução</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/advanced/tonnage.html">Verificação de tonelagem</a></li>
     </ul>
    </li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../bcell/index.html">BendMaster CAM</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../bcell/navigator.html">Bend Navigator</a></li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bcell/pickup/index.html">Coleta de peças</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bcell/pickup/frompallet.html">Coleta do palete</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/pickup/fromdispenser.html">Coleta no distribuidor</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bcell/bending/index.html">Dobra Robótica</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bcell/bending/insertion.html">Inserção</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/bending/bending.html">Processo de dobra</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/bending/extraction.html">Extração</a></li>
     </ul>
    </li>
    <li><button class="tree blank"></button><a href="../../../bcell/regrip/index.html">Remanipulação</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../fold/index.html">Dobra oscilante</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../fold/createfolddata.html">Criar dados de dobra</a></li>
    <li><button class="tree blank"></button><a href="../../../fold/foldview.html">A visualização Dobrar</a></li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../fold/editing/index.html">Editando dados de dobra</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../fold/editing/editbend.html">Editar uma dobra</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editside.html">Editar um lado/seção</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editseq.html">Alterar a sequência</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editbh.html">Editar as ferramentas superiores de fixação</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editgauge.html">Editar os encostos</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editblade.html">Editar as lâminas</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editload.html">Editar o carregamento</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editunload.html">Editar o descarregamento</a></li>
     </ul>
    </li>
    <li><button class="tree blank"></button><a href="../../../fold/toolinventory.html">Inventário de ferramentas</a></li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../fold/advanced/index.html">Avançado</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../fold/advanced/airgaptables.html">Tabelas de lacunas personalizadas</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/advanced/manualbend.html">Conclusão de dobra manual</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/advanced/minflangelength.html">Comprimento de flange necessário</a></li>
     </ul>
    </li>
   </ul>
  </li>
  <li>
   <button class="tree open"></button>
   <a href="../../index.html">Ajustes</a>
   <ul>
    <li>
     <button class="tree closed"></button>
     <a href="../../drawing/index.html">Desenho</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../drawing/layers.html">Camadas</a></li>
      <li><button class="tree blank"></button><a href="../../drawing/dimensions.html">Dimensões</a></li>
      <li><button class="tree blank"></button><a href="../../drawing/view.html">Vista</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../bendcam/index.html">Dobrar CAM</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../bendcam/benddefaults.html">Padrões da máquina</a></li>
      <li><button class="tree blank"></button><a href="../../bendcam/bendoutputs.html">Saídas de dobra</a></li>
      <li><button class="tree blank"></button><a href="../../bendcam/bendview.html">Vista de Dobra</a></li>
      <li><button class="tree blank"></button><a href="../../bendcam/bendcell.html">Célula de dobra</a></li>
     </ul>
    </li>
    <li>
     <button class="tree open"></button>
     <a href="../index.html">Corte CAM</a>
     <ul>
      <li>
       <button class="tree open"></button>
       <a href="index.html">Layout</a>
       <ul>
        <li><button class="tree blank"></button><a href="nesting.html">Ajustes de nesting</a></li>
        <li><button class="tree blank"></button><a href="sheet.html">Chapa</a></li>
        <li><button class="tree blank"></button><a href="sheethandling.html">Manuseio da chapa</a></li>
        <li><button class="tree blank"></button><a class="active" href="skeletoncuts.html">Cortes do esqueleto</a></li>
        <li><button class="tree blank"></button><a href="worksupport.html">Suporte do trabalho</a></li>
       </ul>
      </li>
      <li>
       <button class="tree closed"></button>
       <a href="../lasercam/index.html">Laser CAM</a>
       <ul class="hide">
        <li><button class="tree blank"></button><a href="../lasercam/sequence.html">Sequência</a></li>
       </ul>
      </li>
      <li><button class="tree blank"></button><a href="../cutoutputs.html">Cortar saídas</a></li>
      <li><button class="tree blank"></button><a href="../cutview.html">Cortar vistas</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../foldcam/index.html">Dobra oscilante</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../foldcam/defaults.html">Padrões</a></li>
      <li><button class="tree blank"></button><a href="../../foldcam/zbwcarriers.html">Suportes ZBW</a></li>
      <li><button class="tree blank"></button><a href="../../foldcam/foldoutputs.html">Resultados</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../reports/index.html">Relatórios</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../reports/itemdefaults.html">Padrões do item</a></li>
     </ul>
    </li>
    <li><button class="tree blank"></button><a href="../../importexport.html">Importação/Exportação</a></li>
    <li><button class="tree blank"></button><a href="../../environment.html">Ambiente</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../database/index.html">Base de dados</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../database/materials.html">Materiais</a></li>
    <li><button class="tree blank"></button><a href="../../../database/machines.html">Máquinas</a></li>
    <li><button class="tree blank"></button><a href="../../../database/bendtools.html">Ferramentas de Dobra</a></li>
    <li><button class="tree blank"></button><a href="../../../database/bendgrippers.html">Pinças de Dobra</a></li>
    <li><button class="tree blank"></button><a href="../../../database/formscomponents.html">Formas/Componentes</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../report/index.html">Relatórios</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../report/designer.html">Designer de Relatórios</a></li>
    <li><button class="tree blank"></button><a href="../../../report/fields.html">Campos, Imagens e Tabelas</a></li>
    <li><button class="tree blank"></button><a href="../../../report/bands.html">Bandas (sub-relatórios)</a></li>
    <li><button class="tree blank"></button><a href="../../../report/labels.html">Etiquetas, Bitmaps e Formas</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../appendix/index.html">Apêndice</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../appendix/3dformats.html">Formatos 3D suportados</a></li>
    <li><button class="tree blank"></button><a href="../../../appendix/bseparatordxf.html">Chapa de separação DXF</a></li>
    <li><button class="tree blank"></button><a href="../../../appendix/bendtooldxf.html">Ferramenta de dobra DXF</a></li>
   </ul>
  </li>
  <li><button class="tree blank"></button><a href="../../../impressum.html">Impressum</a></li>
 </ul>
</div>

        </nav>
        <div id="site-nav-right">
            <nav id="site-crumb">
 <div>
  <button>
   <img src="../../../res/home.png">
  </button>
 </div>
 <div>
  <a href="../../index.html">Ajustes</a>
 </div>
 <div>/</div>
 <div>
  <a href="../index.html">Corte CAM</a>
 </div>
 <div>/</div>
 <div>
  <a href="index.html">Layout</a>
 </div>
 <div>/</div>
 <div>
  <a href="skeletoncuts.html">Cortes do esqueleto</a>
 </div>
</nav>

            <div id="site-crumb-below">
                <div id="site-toc-left">
                    <article id="article">
                        <h1>Cortes do esqueleto</h1>
<div class="sect1">
<h2 id="_sheet_cutting_rules">Sheet Cutting Rules</h2>
<div class="sectionbody">
<div class="imageblock">
<div class="content">
<img src="img/skeletoncuts.png" alt="skeletoncuts" width="700">
</div>
</div>
<div class="paragraph">
<p><strong>Fatiar esqueleto</strong>: Se você ativar esta opção, TecZone Laser automaticamente adicionará cortes espaçados horizontais e verticais no layout. As linhas de fatiamento são adicionadas a partir do canto inferior esquerdo da chapa. Se uma linha de fatiamento passar por algumas peças, o TecZone Laser detectará isso automaticamente e adicionará várias linhas de corte para cortar apenas a chapa do esqueleto restante entre as peças.</p>
</div>
<div class="paragraph">
<p><strong>Espaçamento em X entre cortes de chapa verticais</strong>: Esse é o espaçamento entre as linhas de corte verticais.</p>
</div>
<div class="paragraph">
<p><strong>Espaçamento em Y entre cortes de chapa horizontais</strong>: Esse é o espaçamento entre as linhas de corte horizontais.</p>
</div>
<div class="paragraph">
<p><strong>Criar chapa restante</strong>: Uma chapa restante cria um corte limpo para separar a chapa restante do esqueleto.</p>
</div>
<div class="paragraph">
<p><strong>Largura mínima da chapa restante</strong>: Mesmo que a opção acima esteja marcada, um corte final será adicionado somente quando a largura da chapa não utilizada criada pelo corte for maior ou igual a esse valor.</p>
</div>
<div class="paragraph">
<p><strong>Deslocamento em X no corte final</strong>: Essa é a distância da extremidade mais à direita da ferramenta da peça até o corte vertical final que cria a chapa restante.</p>
</div>
<div class="paragraph">
<p><strong>Espaçamento de microjoint em cortes longos (0 = sem microjoints internos)</strong>: TecZone Laser é capaz de criar automaticamente microjoints em cortes de chapas. O usuário pode especificar a distância de espaçamento de microjoints em <strong>Regras de corte de chapa</strong> nas configurações.
As microjoints serão inseridas em qualquer corte mais longo do que este comprimento. Por padrão, esta configuração é 0 mm, significando que não são necessários microjoints em cortes de chapas.</p>
</div>
<div class="paragraph">
<p>São possíveis dois tipos de microjoints nos cortes de chapas; <strong>hard</strong> e <strong>nano</strong>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Microjoints fixas são criadas por padrão, a menos que nano seja preferido.
</td>
</tr>
</table>
</div>
<div class="paragraph">
<p>Mesmo para microjoints hard, haverá perfuração na linha. Não haverá caminho de aproximação. Entretanto, se a TTL recomendar uma aproximação em velocidade reduzida, então uma parte da linha será cortada em velocidade reduzida após o microjoint.</p>
</div>
<div class="paragraph">
<p><strong>Marcar chapa restante com tamanho, material e espessura</strong>:
TecZone Laser pode marcar a chapa restante com o nome do material, espessura e tamanho.</p>
</div>
<div class="paragraph">
<p>Se esta opção for selecionada, a marcação será adicionada se houver corte(s) de chapa restante no layout. Se o corte a chapa restante for removido devido a alguma alteração nas configurações, a marcação também será removida. A marcação sempre será alinhada ao longo do corte da chapa, posicionada em seu centro. Se não houver espaço suficiente para inserir o texto, TecZone Laser encolherá automaticamente o tamanho do texto ou alterará a orientação do texto de marcação.</p>
</div>
<div class="paragraph">
<p>A marcação também pode ser editada usando as configurações <strong>Texto laser</strong>.
As alterações aplicadas ao texto, altura e ângulo são lembradas, mas a posição é recalculada sempre que a posição do(s) corte(s) restante(s) muda.</p>
</div>
<div class="paragraph">
<p><strong>Prefer remainder sheet along the longer dimension</strong>:
Esta opção será <strong>ativada</strong> por padrão. Se esta opção estiver ativada, o mecanismo de nesting selecionará o padrão com as peças empurradas ao longo da dimensão maior, a menos que o padrão com as peças empurradas ao longo da dimensão mais curta economize 50% mais chapa do que o anterior. Se esta opção estiver desativada, o mecanismo de nesting escolherá o padrão que produz a melhor chapa restante (com base na área da chapa restante), independentemente da direção do nesting.</p>
</div>
<div class="paragraph">
<p><strong>Processar cortes de chapa após todas as peças</strong>: Por padrão, ao sequenciar, TecZone Laser processará os cortes de fatia antes de processar o ferramental das peças. Normalmente, isso é uma boa ideia, pois o cabeçote laser pode passar livremente em torno da chapa não cortada enquanto faz os cortes de fatias. No entanto, se você quiser processar os cortes de fatias no final, após processar todas as peças, marque esta opção. Os parâmetros a seguir afetam a forma como cada corte de fatia individual é programado.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_parâmetros_do_corte_da_chapa">Parâmetros do corte da chapa</h2>
<div class="sectionbody">
<div class="imageblock">
<div class="content">
<img src="img/sheetpara.png" alt="sheetpara" width="600">
</div>
</div>
<div class="paragraph">
<p><strong>Medida da folga do microjoint na margem da chapa</strong>:
Defina isso para um valor maior que zero se você quiser que uma pequena nervura permaneça nos pontos onde o corte da fatia toca a margem da chapa.</p>
</div>
<div class="paragraph">
<p><strong>Medida da folga do microjoint na margem da peça</strong>:
Defina isso como um valor maior que zero se você quiser que uma pequena nervura permaneça nos pontos onde o corte de fatia toca a borda da peça.</p>
</div>
<div class="paragraph">
<p><strong>Distância de perfuração da margem da peça</strong>:
Esta é a distância do ponto de perfuração da borda da peça. Se o valor for diferente de zero, TecZone Laser vai perfurar essa distância longe da borda, depois vai mover em direção à borda, antes de girar 180 graus para a direita na borda, refazendo a abordagem que fez, para finalizar o corte principal.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="img/ne45.bmp" alt="image" width="267" height="85">
</div>
</div>
<div class="paragraph">
<p><strong>Medição da distância da margem da peça</strong>: Se nenhuma junta de arame estiver sendo criada na margem da chapa, isso implica que a máquina deve cortar a chapa até o final. Mas isso não pode ser feito com regulagem de altura ligada, pois há risco do cabeçote da máquina cair na bancada da máquina após a chapa. Este parâmetro identifica a distância antes da borda da chapa onde a altura do cabeçote laser está bloqueada e a regulagem da distância está desligada. Ao iniciar um corte na borda da chapa, a máquina alcançará o ponto de medição definido por este parâmetro, meça a altura da chapa, bloquear sua posição Z do cabeçote, sair da chapa, ligar o laser e começar cortando com regulagem de distância desligada até atingir novamente o mesmo ponto de medição.</p>
</div>
<div class="paragraph">
<p><strong>Trajetória de inércia após a margem da chapa</strong>: Este é o valor pelo qual o cabeçote da máquina viaja além da borda da chapa com o laser ligado, mas com a regulação de distância desligada. É possível fornecer distância de trajetória de inércia individualmente para a borda esquerda, inferior, direita e superior da chapa.</p>
</div>
<div class="paragraph">
<p><strong>Start by piercing on sheet</strong>: Ao cortar uma chapa, o bocal abaixa na trajetória de inércia. Se o cabeçote do laser não estiver levantado de volta antes de reentrar na chapa, ele pode colidir com a chapa e danificar o bocal. Ativar a
<strong>caixa de seleção Start by piercing on sheet</strong> evita danos ao bocal. Por padrão, esta opção será desligada. Se isso estiver ativado, ao executar um corte da borda da chapa, a perfuração será feita na chapa mais próxima da borda, além de travar o cabeçote do laser nesse ponto. Isso evita danos ao bocal.</p>
</div>
</div>
</div>

                    </article>
                </div>
                <div id="site-toc-holder">
                    <aside id="site-toc">
 <h3>Contents</h3>
 <ul>
  <li level="1">
   <a href="#_sheet_cutting_rules">Sheet Cutting Rules</a>
  </li>
  <li level="1">
   <a href="#_parâmetros_do_corte_da_chapa">Parâmetros do corte da chapa</a>
  </li>
 </ul>
</aside>

                </div>
            </div>
            <nav class="pagination">
 <span class="prev"><a href="sheethandling.html">Manuseio da chapa</a></span>
 <span class="next"><a href="worksupport.html">Suporte do trabalho</a></span>
</nav>

        </div>
        <div id="searchbox">
          <input id="searchinput" type="search" placeholder="Search... (Key: F)" autocomplete="false" size="30" />
          <ul id="results"></ul>
        </div>
    </div>
    <footer id="site-footer">
        <div class="left">
            <p>&nbsp;&nbsp;Copyright &copy; 2025 by TRUMPF SE + Co.KG. All rights reserved.</p>
        </div>
        <div class="middle"></div>
        <div class="right">
            <p>Compiled by Bento</p>
            <img src="../../../res/bento.png" />
        </div>
    </footer>
    <script>
        // The baseLevel is used to assign the search result pages.
        var baseLevel = "../../../res".replace("res", "");
    </script>
    <script src="https://unpkg.com/lunr/lunr.js"></script>
    <script src="../../../res/index.js"></script>
    <script src="../../../res/files.js"></script>
    <script src="../../../res/site.js"></script>

    
</body>
</html>
