<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../../res/bento.css">
  <link rel="stylesheet" href="../../../res/site.css">
  <link rel="stylesheet" href="../../../res/tree.css">
  <link rel="stylesheet" href="../../../res/sibling.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="../../../img/trumpf-icon.png">
  <title>スケルトンカット</title>
</head>
<body id="site-body" onload="sLoaded()">
    <header id="site-header">
        <div id="header-logo"><img src="../../../img/logo.trumpf.png" width="120" height="40" /></div>
        <div><p>TecZone Reference Manual</p></div>
    </header>
    <div id="site-main">
        <nav id="site-nav">
            <div class="treesite">
 <ul>
  <li><button class="tree blank"></button><a href="../../../index.html">TecZoneへようこそ</a></li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../intro/index.html">本書について</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../intro/install.html">ソフトウェアのインストール</a></li>
    <li><button class="tree blank"></button><a href="../../../intro/clarity.html">ユーザーインターフェース</a></li>
    <li><button class="tree blank"></button><a href="../../../intro/workflow.html">パーツ  ワークフロー</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../cad/index.html">CAD</a>
   <ul class="hide">
    <li>
     <button class="tree closed"></button>
     <a href="../../../cad/2dimport/index.html">2 Dインポート</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../cad/2dimport/2dcleanup.html">2 Dクリーンアップ</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../cad/3dimport/index.html">3 Dインポート</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../cad/3dimport/prep3dmodel.html">3D モデルのインポート</a></li>
      <li><button class="tree blank"></button><a href="../../../cad/3dimport/prepassembly.html">コンポーネントのインポート</a></li>
      <li><button class="tree blank"></button><a href="../../../cad/3dimport/formdetect.html">フォーミング検出</a></li>
      <li><button class="tree blank"></button><a href="../../../cad/3dimport/componentdetect.html">コンポーネント検出</a></li>
     </ul>
    </li>
    <li><button class="tree blank"></button><a href="../../../cad/sketch.html">ジオメトリの修正</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../cut/index.html">レーザCAM</a>
   <ul class="hide">
    <li>
     <button class="tree closed"></button>
     <a href="../../../cut/partworkflow/index.html">パーツ  ワークフロー</a>
     <ul class="hide">
      <li>
       <button class="tree closed"></button>
       <a href="../../../cut/partworkflow/panels/index.html">パネルの編集</a>
       <ul class="hide">
        <li>
         <button class="tree closed"></button>
         <a href="../../../cut/partworkflow/panels/lasercut/index.html">レーザ切断</a>
         <ul class="hide">
          <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/lasercut/approach.html">アプローチ</a></li>
          <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/lasercut/withdrawal.html">戻り</a></li>
          <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/lasercut/microjoint.html">ミクロジョイント</a></li>
          <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/lasercut/advanced.html">上級</a></li>
         </ul>
        </li>
        <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/contour.html">コンター</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/scrapcut.html">抜きカス切断</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/part.html">パーツ</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/cornertreatment.html">コーナ処理</a></li>
       </ul>
      </li>
      <li><button class="tree blank"></button><a href="../../../cut/partworkflow/quicknest.html">クイック ネスティング</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../cut/jobworkflow/index.html">ジョブワークフロー</a>
     <ul class="hide">
      <li>
       <button class="tree closed"></button>
       <a href="../../../cut/jobworkflow/jobpanel/index.html">ジョブパネル</a>
       <ul class="hide">
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/jobpanel/sheets.html">材料タブ</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/jobpanel/parts.html">パーツ タブ</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/jobpanel/layouts.html">レイアウト タブ</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/jobpanel/summary.html">概要タブ</a></li>
       </ul>
      </li>
      <li>
       <button class="tree closed"></button>
       <a href="../../../cut/jobworkflow/editlayout/index.html">レイアウトの編集</a>
       <ul class="hide">
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/editlayout/nestingmodes.html">ネスティングモード</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/editlayout/placementpanel.html">配置パネル</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/editlayout/sequencing.html">順序</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/editlayout/slicesheet.html">材料のスライス</a></li>
       </ul>
      </li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../cut/bevelcut/index.html">ベベルカット</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../cut/bevelcut/opencontours.html">開いたコンター</a></li>
      <li><button class="tree blank"></button><a href="../../../cut/bevelcut/variablebevel.html">可変ベベル</a></li>
      <li><button class="tree blank"></button><a href="../../../cut/bevelcut/miscellaneous.html">その他</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../cut/advanced/index.html">上級</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../cut/advanced/finishingrules.html">仕上げのルール</a></li>
      <li><button class="tree blank"></button><a href="../../../cut/advanced/editltt.html">LTTの編集</a></li>
      <li><button class="tree blank"></button><a href="../../../cut/advanced/flyline.html">FlyLine</a></li>
      <li>
       <button class="tree closed"></button>
       <a href="../../../cut/advanced/twinline/index.html">TwinLine</a>
       <ul class="hide">
        <li><button class="tree blank"></button><a href="../../../cut/advanced/twinline/strategies.html">ストラテジー</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/advanced/twinline/microjoints.html">ミクロジョイント</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/advanced/twinline/stability.html">その他の設定</a></li>
       </ul>
      </li>
      <li><button class="tree blank"></button><a href="../../../cut/advanced/detectline.html">DetectLine</a></li>
     </ul>
    </li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../bend/index.html">曲げ加工 CAM</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../bend/createbenddata.html">曲げデータの作成</a></li>
    <li><button class="tree blank"></button><a href="../../../bend/navigator.html">曲げ加工ナビゲーター</a></li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bend/editing/index.html">曲げデータの編集</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bend/editing/editbend.html">曲げ加工の編集</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/editmount.html">ツール マウントの編集</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/editsetup.html">曲げ加工設定の編集</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/editgauge.html">突き当ての編集</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/editacb.html">角度測定の編集</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/bendsheet.html">曲げ加工スプレッドシート</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/sequencing.html">順序の変更</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/addsetup.html">セットアップとステーションの追加</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bend/advanced/index.html">上級</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bend/advanced/anglemeasurement.html">角度測定</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/advanced/batchprocess.html">バッチ加工</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/advanced/recompute.html">ソリューションの再計算</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/advanced/tonnage.html">トン数チェック</a></li>
     </ul>
    </li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../bcell/index.html">BendMaster CAM</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../bcell/navigator.html">曲げ加工ナビゲーター</a></li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bcell/pickup/index.html">パーツピックアップ</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bcell/pickup/frompallet.html">パレットからピックアップ</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/pickup/fromdispenser.html">ディスペンサーからのピックアップ</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bcell/bending/index.html">ロボット曲げ加工</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bcell/bending/insertion.html">挿入</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/bending/bending.html">曲げ加工</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/bending/extraction.html">抽出</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bcell/regrip/index.html">つかみ換え</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bcell/regrip/regrippanel.html">つかみ換えパネル</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/regrip/addregrip.html">つかみ換えを追加</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/regrip/editregrip.html">つかみ換えの編集</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/regrip/jawregrip.html">あごでつかみ換え</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/regrip/rgstationpanel.html">つかみ替えステーションパネル</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bcell/deposit/index.html">パーツ収納</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bcell/deposit/patterns.html">収納パターン</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/deposit/repeat.html">繰り返しと順序</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/deposit/separatorsheet.html">材料セパレーター</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bcell/advanced/index.html">上級</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bcell/advanced/waypoints.html">ウェイポイント</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/advanced/cellconfig.html">セル設定</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/advanced/gripperdb.html">グリッパーデータベース</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/advanced/reports.html">レポート</a></li>
     </ul>
    </li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../fold/index.html">反転 CAM</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../fold/createfolddata.html">反転データの作成</a></li>
    <li><button class="tree blank"></button><a href="../../../fold/foldview.html">反転ビュー</a></li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../fold/editing/index.html">反転データの編集</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../fold/editing/editbend.html">曲げ加工の編集</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editside.html">辺の長さ/セクションの編集</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editseq.html">順序の変更</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editbh.html">プレッサフットの編集</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editgauge.html">ゲージングの編集</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editblade.html">ブレードの編集</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editload.html">ローディングの編集</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editunload.html">アンローディングの編集</a></li>
     </ul>
    </li>
    <li><button class="tree blank"></button><a href="../../../fold/toolinventory.html">ツール在庫</a></li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../fold/advanced/index.html">上級</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../fold/advanced/airgaptables.html">カスタムエアギャップテーブル</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/advanced/manualbend.html">手動曲げ完了</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/advanced/minflangelength.html">必要な辺の長さ</a></li>
     </ul>
    </li>
   </ul>
  </li>
  <li>
   <button class="tree open"></button>
   <a href="../../index.html">設定</a>
   <ul>
    <li>
     <button class="tree closed"></button>
     <a href="../../drawing/index.html">描画</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../drawing/layers.html">レイヤー</a></li>
      <li><button class="tree blank"></button><a href="../../drawing/dimensions.html">寸法</a></li>
      <li><button class="tree blank"></button><a href="../../drawing/view.html">ビュー</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../bendcam/index.html">曲げ加工 CAM</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../bendcam/benddefaults.html">マシンの初期設定</a></li>
      <li><button class="tree blank"></button><a href="../../bendcam/bendoutputs.html">曲げ加工出力</a></li>
      <li><button class="tree blank"></button><a href="../../bendcam/bendview.html">曲げ加工 ビュー</a></li>
      <li><button class="tree blank"></button><a href="../../bendcam/bendcell.html">曲げセル</a></li>
     </ul>
    </li>
    <li>
     <button class="tree open"></button>
     <a href="../index.html">切断 CAM</a>
     <ul>
      <li>
       <button class="tree open"></button>
       <a href="index.html">レイアウト</a>
       <ul>
        <li><button class="tree blank"></button><a href="nesting.html">ネスティング設定</a></li>
        <li><button class="tree blank"></button><a href="sheet.html">材料</a></li>
        <li><button class="tree blank"></button><a href="sheethandling.html">材料ハンドリング</a></li>
        <li><button class="tree blank"></button><a class="active" href="skeletoncuts.html">スケルトンカット</a></li>
        <li><button class="tree blank"></button><a href="worksupport.html">ワークサポート</a></li>
       </ul>
      </li>
      <li>
       <button class="tree closed"></button>
       <a href="../lasercam/index.html">レーザCAM</a>
       <ul class="hide">
        <li><button class="tree blank"></button><a href="../lasercam/sequence.html">順序</a></li>
       </ul>
      </li>
      <li><button class="tree blank"></button><a href="../cutoutputs.html">Cut 出力</a></li>
      <li><button class="tree blank"></button><a href="../cutview.html">Cut　ビュー</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../foldcam/index.html">パネルベンディング</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../foldcam/defaults.html">初期設定</a></li>
      <li><button class="tree blank"></button><a href="../../foldcam/zbwcarriers.html">ZBW キャリア</a></li>
      <li><button class="tree blank"></button><a href="../../foldcam/foldoutputs.html">出力</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../reports/index.html">レポート</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../reports/itemdefaults.html">初期設定項目</a></li>
     </ul>
    </li>
    <li><button class="tree blank"></button><a href="../../importexport.html">インポート/エクスポート</a></li>
    <li><button class="tree blank"></button><a href="../../environment.html">周囲</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../database/index.html">データベース</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../database/materials.html">素材</a></li>
    <li><button class="tree blank"></button><a href="../../../database/machines.html">マシン</a></li>
    <li><button class="tree blank"></button><a href="../../../database/bendtools.html">曲げツール</a></li>
    <li><button class="tree blank"></button><a href="../../../database/bendgrippers.html">曲げグリッパー</a></li>
    <li><button class="tree blank"></button><a href="../../../database/formscomponents.html">フォーミング/コンポーネント</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../report/index.html">レポート</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../report/designer.html">レポートデザイナー</a></li>
    <li><button class="tree blank"></button><a href="../../../report/fields.html">フィールド、画像およびテーブル</a></li>
    <li><button class="tree blank"></button><a href="../../../report/bands.html">バンド（サブレポート）</a></li>
    <li><button class="tree blank"></button><a href="../../../report/labels.html">ラベル、ビットマップおよび図形</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../appendix/index.html">付録</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../appendix/3dformats.html">対応 Dフォーマット</a></li>
    <li><button class="tree blank"></button><a href="../../../appendix/bseparatordxf.html">セパレーター 材料DXF</a></li>
    <li><button class="tree blank"></button><a href="../../../appendix/bendtooldxf.html">曲げツール DXF</a></li>
   </ul>
  </li>
  <li><button class="tree blank"></button><a href="../../../impressum.html">Impressum</a></li>
 </ul>
</div>

        </nav>
        <div id="site-nav-right">
            <nav id="site-crumb">
 <div>
  <button>
   <img src="../../../res/home.png">
  </button>
 </div>
 <div>
  <a href="../../index.html">設定</a>
 </div>
 <div>/</div>
 <div>
  <a href="../index.html">切断 CAM</a>
 </div>
 <div>/</div>
 <div>
  <a href="index.html">レイアウト</a>
 </div>
 <div>/</div>
 <div>
  <a href="skeletoncuts.html">スケルトンカット</a>
 </div>
</nav>

            <div id="site-crumb-below">
                <div id="site-toc-left">
                    <article id="article">
                        <h1>スケルトンカット</h1>
<div class="sect1">
<h2 id="_sheet_cutting_rules">Sheet Cutting Rules</h2>
<div class="sectionbody">
<div class="imageblock">
<div class="content">
<img src="img/skeletoncuts.png" alt="skeletoncuts" width="700">
</div>
</div>
<div class="paragraph">
<p><strong>Slice sheet skeleton</strong>：このオプションをオンにすると、 TecZone Laserは、レイアウトに間隔をあけた水平および垂直のカットを自動的に追加します。スライス線が、材料の左下端から追加されます。スライス線がパーツを通過する場合、TecZone Laserはこれを自動的に検出し、パーツ間に残ったスケルトンシートだけを切り出すために複数のスライス線を追加します。</p>
</div>
<div class="paragraph">
<p><strong>X spacing between vertical sheet cuts</strong>：これは、垂直スライス線の間隔です。</p>
</div>
<div class="paragraph">
<p><strong>Y spacing between horizontal sheet cuts</strong>：：これは、水平スライス線の間隔です。</p>
</div>
<div class="paragraph">
<p><strong>Create remainder sheet</strong>：残りのシートは、残りシートをスケルトンから分離するためのきれいなカットを作成します。</p>
</div>
<div class="paragraph">
<p><strong>Minimum remainder sheet width</strong>：上記をチェックした場合でも、切断によって作成された未使用シートの幅がこの値以上の場合にのみ、最終切断が追加されます。</p>
</div>
<div class="paragraph">
<p><strong>Final cut X offset</strong>：これは、パーツツーリングの右端から、残りのシートを作成する最後の垂直カットまでの間隔です。</p>
</div>
<div class="paragraph">
<p><strong>Microjoint spacing on long cuts (0 = no internal microjoints)</strong>：TecZone Laserには、 切離し加工にミクロジョイントを自動的に作成する機能があります。ユーザーは、<strong>Sheet cutting rules</strong>設定で、ミクロジョイント間隔を指定します。この長さよりも長い切断にミクロジョイントが挿入されます。初期設定では、この設定は 0 mm で、切り離し加工にミクロジョイントが必要ないことを意味します。</p>
</div>
<div class="paragraph">
<p>切離し加工には、２種類のミクロジョイントが可能です；<strong>ハード</strong>と<strong>ナノ</strong>です。</p>
</div>
<div class="admonitionblock tip">
<table>
<tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
初期設定では、ナノが選択されていない限り、ハード ミクロジョイントが作成されます。ハードミクロジョイントの場合でも、ピアシングは線上で行われます。アプローチ距離はありません。ただし、LTT が減速アプローチを推奨する場合、ミクロジョイントの後に線の一部が減速して切断されます。
</td>
</tr>
</table>
</div>
<div class="paragraph">
<p><strong>Mark remainder sheet with size, material &amp; thickness</strong>：TecZone Laserは、残りのシートに材質名、厚さ、寸法をマーキング出来ます。このオプションを選択すると、レイアウトに残りのシートの切断がある場合、マーキングが追加されます。設定が変更され、残りのシートの切断が削除されると、マーキングも削除されます。マーキングは常に切り離し加工に沿った中心位置になります。テキストを挿入するのに十分なスペースがない場合、 TecZone Laserは、自動的にテキストサイズを縮小したり、マーキングテキストの方向を変更したりします。</p>
</div>
<div class="paragraph">
<p><strong>Laser Text</strong>設定で、マーキングを編集できます。テキストの高さや角度の変更は記憶されますが、残りカットの位置が変わるたびに位置は再計算されます。</p>
</div>
<div class="paragraph">
<p><strong>Prefer remainder sheet along the longer dimension</strong>：初期設定では、このオプションは<strong>オン</strong>です。このオプションがオンだと、ネスティングエンジンは、大きい寸法に沿ってのパーツ配置パターンを選択します。ただし、短い寸法に沿っったパーツ配置パターンで、前者よりも50%以上材料を節約できる場合は後者を選びます。このオプションがオフになっている場合、ネスティングエンジンはネスティング方向に関係なく、残材の面積に基づいてより良い残材シートを生成するパターンを選択します</p>
</div>
<div class="paragraph">
<p><strong>Process sheet cuts after all parts</strong>：初期設定では、順序設定時に、TecZone Laserは、パーツ ツーリング処理前にスライスカットを処理します。これは通常良い選択です。レーザヘッドがスライスカットを行う間、未切断の材料上を自由に移動できるからです。ただし、すべてのパーツを加工してから最後にスライスカットを処理したい場合は、このオプションにチェックを入れてください。以下のパラメーターは、各個別のスライスカットのプログラミング方法に影響します。</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_sheet_cut_parameters">Sheet cut parameters</h2>
<div class="sectionbody">
<div class="imageblock">
<div class="content">
<img src="img/sheetpara.png" alt="sheetpara" width="600">
</div>
</div>
<div class="paragraph">
<p><strong>Microjoint gap at sheet edge</strong>：スライスカットがシートエッジに触れる点に小さなウェブを残したい場合、これを0より大きい値に設定してください。</p>
</div>
<div class="paragraph">
<p><strong>Microjoint gap at part edge</strong>：：スライスカットがパーツエッジに触れる点に小さなウェブを残したい場合、これを0より大きい値に設定してください。</p>
</div>
<div class="paragraph">
<p><strong>Pierce distance from part edge</strong>：これは、パーツのエッジとピアシング点の間隔です。この値がゼロ以外の場合、 TecZone Laserはエッジからこの間隔でピアシングを行い、その後エッジに向かって移動し、エッジで180度回転して、アプローチを逆戻りして本切断を完了します。</p>
</div>
<div class="imageblock">
<div class="content">
<img src="img/ne45.bmp" alt="image" width="267" height="85">
</div>
</div>
<div class="paragraph">
<p><strong>Measuring distance from sheet edge</strong>：シートエッジにワイヤージョイントが作成されない場合、マシンはシートを最後まで切断します。しかし、距離コントロールシステムがオンだと、それは実行できません。シートを切り終えた後、マシンヘッドがマシンベッドに落ちるリスクがあるからです。このパラメータは、シートエッジの手前でレーザヘッドの高さを固定し、距離コントロールシステムを無効にする距離を示します。シートエッジで切断を開始すると、マシンは実際にこのパラメータで規定された測定点に到達し、シートの高さを測定し、ヘッドの Z 位置をロックし、シートから移動し、レーザをオンにしてから、距離コントロールシステムをオフにして、同じ測定点まで切断します。</p>
</div>
<div class="paragraph">
<p><strong>Overtravel after sheet edge</strong>：これは、レーザオンで距離コントロールシステムがオフの時、マシンヘッドがシートエッジを超えて移動する量です。シートの左、下端、右、上端に個別に惰行経路距離を指定できます。</p>
</div>
<div class="paragraph">
<p><strong>Start by piercing on sheet</strong>：材料を切断すると、惰行経路でノズルが下降します。材料に再び入る前に、レーザヘッドが上昇しないと、材料に衝突してノズルが損傷する可能性があります。この
<strong>Start by piercing on sheet</strong>
を有効化して、ノズルの損傷を防ぎます。初期設定では、このオプションはオフです。これが有効だと、シートエッジからスライスカットを実行する際、その時点でレーザヘッドがロックされるほか、シートエッジ付近でピアシングが実行されます。ノズルの損傷を防ぎます。</p>
</div>
</div>
</div>

                    </article>
                </div>
                <div id="site-toc-holder">
                    <aside id="site-toc">
 <h3>Contents</h3>
 <ul>
  <li level="1">
   <a href="#_sheet_cutting_rules">Sheet Cutting Rules</a>
  </li>
  <li level="1">
   <a href="#_sheet_cut_parameters">Sheet cut parameters</a>
  </li>
 </ul>
</aside>

                </div>
            </div>
            <nav class="pagination">
 <span class="prev"><a href="sheethandling.html">材料ハンドリング</a></span>
 <span class="next"><a href="worksupport.html">ワークサポート</a></span>
</nav>

        </div>
        <div id="searchbox">
          <input id="searchinput" type="search" placeholder="Search... (Key: F)" autocomplete="false" size="30" />
          <ul id="results"></ul>
        </div>
    </div>
    <footer id="site-footer">
        <div class="left">
            <p>&nbsp;&nbsp;Copyright &copy; 2025 by TRUMPF SE + Co.KG. All rights reserved.</p>
        </div>
        <div class="middle"></div>
        <div class="right">
            <p>Compiled by Bento</p>
            <img src="../../../res/bento.png" />
        </div>
    </footer>
    <script>
        // The baseLevel is used to assign the search result pages.
        var baseLevel = "../../../res".replace("res", "");
    </script>
    <script src="https://unpkg.com/lunr/lunr.js"></script>
    <script src="../../../res/index.js"></script>
    <script src="../../../res/files.js"></script>
    <script src="../../../res/site.js"></script>

    
</body>
</html>
