<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../../res/bento.css">
  <link rel="stylesheet" href="../../../res/site.css">
  <link rel="stylesheet" href="../../../res/tree.css">
  <link rel="stylesheet" href="../../../res/sibling.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="../../../img/trumpf-icon.png">
  <title>Cortes de rejilla</title>
</head>
<body id="site-body" onload="sLoaded()">
    <header id="site-header">
        <div id="header-logo"><img src="../../../img/logo.trumpf.png" width="120" height="40" /></div>
        <div><p>TecZone Reference Manual</p></div>
    </header>
    <div id="site-main">
        <nav id="site-nav">
            <div class="treesite">
 <ul>
  <li><button class="tree blank"></button><a href="../../../index.html">Bienvenido a TecZone</a></li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../intro/index.html">Introducción</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../intro/install.html">Instalación del software</a></li>
    <li><button class="tree blank"></button><a href="../../../intro/clarity.html">La interfaz de usuario</a></li>
    <li><button class="tree blank"></button><a href="../../../intro/workflow.html">Flujo de trabajo de piezas</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../cad/index.html">CAD</a>
   <ul class="hide">
    <li>
     <button class="tree closed"></button>
     <a href="../../../cad/2dimport/index.html">Importación 2D</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../cad/2dimport/2dcleanup.html">Limpieza 2D</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../cad/3dimport/index.html">Importación 3D</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../cad/3dimport/prep3dmodel.html">Importar modelo 3D</a></li>
      <li><button class="tree blank"></button><a href="../../../cad/3dimport/prepassembly.html">Importar grupo de módulos</a></li>
      <li><button class="tree blank"></button><a href="../../../cad/3dimport/formdetect.html">Detección de forma</a></li>
      <li><button class="tree blank"></button><a href="../../../cad/3dimport/componentdetect.html">Detección de componentes</a></li>
     </ul>
    </li>
    <li><button class="tree blank"></button><a href="../../../cad/sketch.html">Modificación de la geometría</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../cut/index.html">Láser CAM</a>
   <ul class="hide">
    <li>
     <button class="tree closed"></button>
     <a href="../../../cut/partworkflow/index.html">Flujo de trabajo de piezas</a>
     <ul class="hide">
      <li>
       <button class="tree closed"></button>
       <a href="../../../cut/partworkflow/panels/index.html">Paneles de edición</a>
       <ul class="hide">
        <li>
         <button class="tree closed"></button>
         <a href="../../../cut/partworkflow/panels/lasercut/index.html">Corte por láser</a>
         <ul class="hide">
          <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/lasercut/approach.html">Aproximación</a></li>
          <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/lasercut/withdrawal.html">Retroceso</a></li>
          <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/lasercut/microjoint.html">Microjoint</a></li>
          <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/lasercut/advanced.html">Avanzado</a></li>
         </ul>
        </li>
        <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/contour.html">Contorno</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/scrapcut.html">Corte de desperdicios</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/part.html">Pieza</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/cornertreatment.html">Tratamiento de esquinas</a></li>
       </ul>
      </li>
      <li><button class="tree blank"></button><a href="../../../cut/partworkflow/quicknest.html">Nesting rápido</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../cut/jobworkflow/index.html">Flujo de trabajo de tarea</a>
     <ul class="hide">
      <li>
       <button class="tree closed"></button>
       <a href="../../../cut/jobworkflow/jobpanel/index.html">Panel de tareas</a>
       <ul class="hide">
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/jobpanel/sheets.html">Pestaña Chapas</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/jobpanel/parts.html">Pestaña Piezas</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/jobpanel/layouts.html">Pestaña Diseños</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/jobpanel/summary.html">Pestaña Resumen</a></li>
       </ul>
      </li>
      <li>
       <button class="tree closed"></button>
       <a href="../../../cut/jobworkflow/editlayout/index.html">Editar layout</a>
       <ul class="hide">
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/editlayout/nestingmodes.html">Modos de nesting</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/editlayout/placementpanel.html">Panel de colocación</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/editlayout/sequencing.html">Secuenciación</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/editlayout/slicesheet.html">Chapa de corte</a></li>
       </ul>
      </li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../cut/bevelcut/index.html">Corte biselado</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../cut/bevelcut/opencontours.html">Contornos abiertos</a></li>
      <li><button class="tree blank"></button><a href="../../../cut/bevelcut/variablebevel.html">Chaflán variable</a></li>
      <li><button class="tree blank"></button><a href="../../../cut/bevelcut/miscellaneous.html">Varios</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../cut/advanced/index.html">Avanzado</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../cut/advanced/finishingrules.html">Reglas de acabado</a></li>
      <li><button class="tree blank"></button><a href="../../../cut/advanced/editltt.html">Editar TTL</a></li>
      <li><button class="tree blank"></button><a href="../../../cut/advanced/flyline.html">FlyLine</a></li>
      <li>
       <button class="tree closed"></button>
       <a href="../../../cut/advanced/twinline/index.html">TwinLine</a>
       <ul class="hide">
        <li><button class="tree blank"></button><a href="../../../cut/advanced/twinline/strategies.html">Estrategia</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/advanced/twinline/microjoints.html">Microjoints</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/advanced/twinline/stability.html">Ajustes adicionales</a></li>
       </ul>
      </li>
      <li><button class="tree blank"></button><a href="../../../cut/advanced/detectline.html">DetectLine</a></li>
     </ul>
    </li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../bend/index.html">CAM de plegado</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../bend/createbenddata.html">Crear datos de plegado</a></li>
    <li><button class="tree blank"></button><a href="../../../bend/navigator.html">Bend Navigator</a></li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bend/editing/index.html">Editar datos de plegado</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bend/editing/editbend.html">Editar un plegado</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/editmount.html">Editar un soporte de útil</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/editsetup.html">Editar una configuración de plegado</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/editgauge.html">Editar los dedos de tope</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/editacb.html">Editar medición de ángulo</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/bendsheet.html">Hoja de cálculo de plegados</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/sequencing.html">Cambio de la secuencia</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/addsetup.html">Adición de configuraciones y estaciones</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bend/advanced/index.html">Avanzado</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bend/advanced/anglemeasurement.html">Medición de ángulo</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/advanced/batchprocess.html">Proceso por lotes</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/advanced/recompute.html">Recalcular solución</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/advanced/tonnage.html">Comprobación de tonelaje</a></li>
     </ul>
    </li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../bcell/index.html">BendMaster CAM</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../bcell/navigator.html">Bend Navigator</a></li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bcell/pickup/index.html">Recogida de piezas</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bcell/pickup/frompallet.html">Recogida desde bandeja</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/pickup/fromdispenser.html">Recogida del dispensador</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bcell/bending/index.html">Plegado robótico</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bcell/bending/insertion.html">Inserción</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/bending/bending.html">Plegado</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/bending/extraction.html">Extracción</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bcell/regrip/index.html">Agarre posterior</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bcell/regrip/regrippanel.html">Panel de agarre posterior</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/regrip/addregrip.html">Añadir agarre posterior</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/regrip/editregrip.html">Editar agarre posterior</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/regrip/jawregrip.html">Agarre posterior con mordaza</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/regrip/rgstationpanel.html">Panel de la estación de giro de agarre</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bcell/deposit/index.html">Depósito de pieza</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bcell/deposit/patterns.html">Patrones de depósito</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/deposit/repeat.html">Repetir y secuenciar</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/deposit/separatorsheet.html">Chapa separadora</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bcell/advanced/index.html">Avanzado</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bcell/advanced/waypoints.html">Waypoints</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/advanced/cellconfig.html">Configuración de celda</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/advanced/gripperdb.html">Base de datos de pinzas</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/advanced/reports.html">Informes</a></li>
     </ul>
    </li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../fold/index.html">Plegado basculante</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../fold/createfolddata.html">Crear datos de plegado</a></li>
    <li><button class="tree blank"></button><a href="../../../fold/foldview.html">La vista de plegado</a></li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../fold/editing/index.html">Edición de datos de plegado</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../fold/editing/editbend.html">Editar un plegado</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editside.html">Editar un lado/sección</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editseq.html">Cambiar la secuencia</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editbh.html">Editar los pisadores</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editgauge.html">Editar los topes</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editblade.html">Editar las cuchillas</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editload.html">Editar la carga</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editunload.html">Editar la descarga</a></li>
     </ul>
    </li>
    <li><button class="tree blank"></button><a href="../../../fold/toolinventory.html">Inventario de útiles</a></li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../fold/advanced/index.html">Avanzado</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../fold/advanced/airgaptables.html">Tablas personalizadas de espacio de aire</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/advanced/manualbend.html">Finalización del plegado manual</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/advanced/minflangelength.html">Longitud del ala requerida</a></li>
     </ul>
    </li>
   </ul>
  </li>
  <li>
   <button class="tree open"></button>
   <a href="../../index.html">Ajustes</a>
   <ul>
    <li>
     <button class="tree closed"></button>
     <a href="../../drawing/index.html">Dibujo</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../drawing/layers.html">Niveles</a></li>
      <li><button class="tree blank"></button><a href="../../drawing/dimensions.html">Medidas</a></li>
      <li><button class="tree blank"></button><a href="../../drawing/view.html">Vista</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../bendcam/index.html">CAM de plegado</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../bendcam/benddefaults.html">Valores predeterminados de máquina</a></li>
      <li><button class="tree blank"></button><a href="../../bendcam/bendoutputs.html">Salidas de plegado</a></li>
      <li><button class="tree blank"></button><a href="../../bendcam/bendview.html">Vista de plegado</a></li>
      <li><button class="tree blank"></button><a href="../../bendcam/bendcell.html">Célula de plegado</a></li>
     </ul>
    </li>
    <li>
     <button class="tree open"></button>
     <a href="../index.html">CAM de corte</a>
     <ul>
      <li>
       <button class="tree open"></button>
       <a href="index.html">Layout</a>
       <ul>
        <li><button class="tree blank"></button><a href="nesting.html">Ajustes de nesting</a></li>
        <li><button class="tree blank"></button><a href="sheet.html">Chapa</a></li>
        <li><button class="tree blank"></button><a href="sheethandling.html">Manipulación de chapa</a></li>
        <li><button class="tree blank"></button><a class="active" href="skeletoncuts.html">Cortes de rejilla</a></li>
        <li><button class="tree blank"></button><a href="worksupport.html">Soporte de trabajo</a></li>
       </ul>
      </li>
      <li>
       <button class="tree closed"></button>
       <a href="../lasercam/index.html">Láser CAM</a>
       <ul class="hide">
        <li><button class="tree blank"></button><a href="../lasercam/sequence.html">Secuencia</a></li>
       </ul>
      </li>
      <li><button class="tree blank"></button><a href="../cutoutputs.html">Salidas de corte</a></li>
      <li><button class="tree blank"></button><a href="../cutview.html">Vista de corte</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../foldcam/index.html">Plegado basculante</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../foldcam/defaults.html">Valores predeterminados</a></li>
      <li><button class="tree blank"></button><a href="../../foldcam/zbwcarriers.html">Piezas de soporte ZBW</a></li>
      <li><button class="tree blank"></button><a href="../../foldcam/foldoutputs.html">Salidas</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../reports/index.html">Informes</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../reports/itemdefaults.html">Asignaciones previas de artículos</a></li>
     </ul>
    </li>
    <li><button class="tree blank"></button><a href="../../importexport.html">Importar/Exportar</a></li>
    <li><button class="tree blank"></button><a href="../../environment.html">Entorno</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../database/index.html">Base de datos</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../database/materials.html">Materiales</a></li>
    <li><button class="tree blank"></button><a href="../../../database/machines.html">Máquinas</a></li>
    <li><button class="tree blank"></button><a href="../../../database/bendtools.html">Útiles de plegado</a></li>
    <li><button class="tree blank"></button><a href="../../../database/bendgrippers.html">Pinzas para doblar</a></li>
    <li><button class="tree blank"></button><a href="../../../database/formscomponents.html">Moldes/Componentes</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../report/index.html">Informes</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../report/designer.html">Report Designer</a></li>
    <li><button class="tree blank"></button><a href="../../../report/fields.html">Campos, imágenes y tablas</a></li>
    <li><button class="tree blank"></button><a href="../../../report/bands.html">Bandas (subinformes)</a></li>
    <li><button class="tree blank"></button><a href="../../../report/labels.html">Etiquetas, mapas de bits y formas</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../appendix/index.html">Apéndice</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../appendix/3dformats.html">Formatos 3D admitidos</a></li>
    <li><button class="tree blank"></button><a href="../../../appendix/bseparatordxf.html">DXF de chapa de separador</a></li>
    <li><button class="tree blank"></button><a href="../../../appendix/bendtooldxf.html">Útil de plegado DXF</a></li>
   </ul>
  </li>
  <li><button class="tree blank"></button><a href="../../../impressum.html">Aviso legal</a></li>
 </ul>
</div>

        </nav>
        <div id="site-nav-right">
            <nav id="site-crumb">
 <div>
  <button>
   <img src="../../../res/home.png">
  </button>
 </div>
 <div>
  <a href="../../index.html">Ajustes</a>
 </div>
 <div>/</div>
 <div>
  <a href="../index.html">CAM de corte</a>
 </div>
 <div>/</div>
 <div>
  <a href="index.html">Layout</a>
 </div>
 <div>/</div>
 <div>
  <a href="skeletoncuts.html">Cortes de rejilla</a>
 </div>
</nav>

            <div id="site-crumb-below">
                <div id="site-toc-left">
                    <article id="article">
                        <h1>Cortes de rejilla</h1>
<div class="sect1">
<h2 id="_sheet_cutting_rules">Sheet Cutting Rules</h2>
<div class="sectionbody">
<div class="imageblock">
<div class="content">
<img src="img/skeletoncuts.png" alt="skeletoncuts" width="700">
</div>
</div>
<div class="paragraph">
<p><strong>Slice sheet skeleton</strong>: Si activa esta opción, TecZone Laser
añadirá automáticamente cortes horizontales y verticales espaciados al layout. Las líneas de corte se añaden desde la esquina inferior izquierda de la chapa. Si una línea de corte atraviesa algunas piezas, el TecZone Laser lo detectará automáticamente y añadirá varias líneas de corte para cortar solo la chapa de rejilla que queda entre las piezas.</p>
</div>
<div class="paragraph">
<p><strong>X spacing between vertical sheet cuts</strong>: Este es el espaciado entre líneas de corte verticales.</p>
</div>
<div class="paragraph">
<p><strong>Y spacing between horizontal sheet cuts</strong>: Este es el espaciado entre líneas de corte horizontales.</p>
</div>
<div class="paragraph">
<p><strong>Create remainder sheet</strong>: Una chapa restante crea un corte limpio para separar la chapa restante de la rejilla.</p>
</div>
<div class="paragraph">
<p><strong>Minimum remainder sheet width</strong>: Aunque se marque lo anterior, solo se añadirá un corte final cuando la anchura de la chapa no utilizada creada por el corte sea mayor o igual que este valor.</p>
</div>
<div class="paragraph">
<p><strong>Final cut X offset</strong>: Es la distancia desde el extremo derecho del equipamiento de la pieza hasta el corte vertical final que crea la chapa remanente.</p>
</div>
<div class="paragraph">
<p><strong>Microjoint spacing on long cuts (0 = no internal microjoints)</strong>:
TecZone Laser tiene la capacidad de crear microjoints en cortes de chapa automáticamente. El usuario puede especificar la distancia de espaciado de las microjoints en las <strong>Sheet cutting rules</strong> en los ajustes.Las microjoints se insertarán en cualquier corte que supere esta longitud. Por defecto, este ajuste se establece en 0 mm, lo que significa que las microjoints no son necesarias en los cortes de chapa.
Existen dos tipos de microjoints posibles en los cortes de chapa: <strong>duras</strong> y <strong>nano</strong>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Por defecto, se crean microjoints duras salvo que se prefieran nano.Incluso para las microjoints duras, la penetración se producirá en la línea. No habrá recorrido de avance. Sin embargo, si la TTL recomienda una aproximación a velocidad reducida, entonces una pieza de la línea se cortará a velocidad reducida después de la microjoint.
</td>
</tr>
</table>
</div>
<div class="paragraph">
<p><strong>Mark remainder sheet with size, material &amp; thickness</strong>:
TecZone Laser puede marcar la chapa restante con el nombre del material, el espesor y el tamaño.Si se selecciona esta opción, se añadirá marcado si hay corte(s) de chapa(s) restante(s) en el layout. Si se elimina el corte de chapa restante debido a algún cambio en los ajustes, también se eliminará el marcado. El marcado siempre estará alineado a lo largo del corte de chapa, colocado en su centro. Si no hay espacio suficiente para insertar el texto, TecZone Laser
reducirá de forma automática la dimensión del texto o cambiará la orientación del texto de marcado.El marcado también puede editarse utilizando los ajustes <strong>Laser Text</strong>.Los cambios aplicados al texto, la altura y el ángulo se recuerdan, pero la posición se vuelve a calcular cada vez que cambia la posición de los cortes de chapa restantes.</p>
</div>
<div class="paragraph">
<p><strong>Prefer remainder sheet along the longer dimension</strong>:
Esta opción estará <strong>activada</strong> por defecto. Si esta opción está activada, el motor de nesting elegirá el patrón con las piezas empujadas a lo largo de la dimensión más grande a menos que el patrón con las piezas empujadas a lo largo de la dimensión más corta ahorre un 50% más de chapa que el primero. Si esta opción está desactivada, el motor de nesting elegirá el patrón que produzca mejor chapa remanente (basándose en el área de la chapa remanente) independientemente de la dirección de nesting.</p>
</div>
<div class="paragraph">
<p>*Process sheet cuts after all parts*Por defecto, al secuenciar, TecZone Laser procesará los cortes en tiras antes de procesar el equipamiento de las piezas. Suele ser una buena idea, ya que el cabezal láser puede desplazarse libremente por la chapa sin cortar mientras realiza los cortes en tiras. Sin embargo, si desea procesar los cortes en tiras al final, después de procesar todas las piezas, marque esta opción. Los siguientes parámetros afectan a cómo se programa cada corte en tiras individual.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_sheet_cut_parameters">Sheet cut parameters</h2>
<div class="sectionbody">
<div class="imageblock">
<div class="content">
<img src="img/sheetpara.png" alt="sheetpara" width="600">
</div>
</div>
<div class="paragraph">
<p><strong>Microjoint gap at sheet edge</strong>: Ajústela a un valor mayor que cero si desea que quede una pequeña alma en los puntos en los que el corte en tiras toca el borde de la chapa.</p>
</div>
<div class="paragraph">
<p><strong>Microjoint gap at part edge</strong>: Ajústela a un valor mayor que cero si desea que quede una pequeña alma en los puntos en los que el corte en tiras toca el borde de la pieza.</p>
</div>
<div class="paragraph">
<p><strong>Pierce distance from part edge</strong>: Esta es la distancia del punto de penetración desde el borde de la pieza. Si es un valor distinto de cero, TecZone Laser penetrará a esta distancia del borde, luego se moverá hacia el borde, antes de girar 180 grados a la derecha en el borde, volviendo sobre la aproximación realizada, para finalizar el corte principal.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="img/ne45.bmp" alt="image" width="267" height="85">
</div>
</div>
<div class="paragraph">
<p><strong>Measuring distance from sheet edge</strong>: Si no se crea ninguna junta de alambre en el borde de la chapa, significa que la máquina tiene que cortar la chapa hasta el final. Pero esto no se puede hacer con el dispositivo de regulación de distancia activado, ya que se correría el riesgo de que el cabezal de la máquina colapsara en la bancada después de la chapa. Este parámetro identifica la distancia antes del borde de la chapa donde se bloquea la altura del cabezal láser y se desactiva el dispositivo de regulación de distancia. Al iniciar un corte en el borde de la chapa, la máquina alcanzará realmente el punto de medición definido por este parámetro, medirá la altura de la chapa, bloqueará la posición Z del cabezal, saldrá de la chapa, encenderá el láser y, a continuación, iniciará el corte con el dispositivo de regulación de distancia desactivado hasta que vuelva a alcanzar el mismo punto de medición.</p>
</div>
<div class="paragraph">
<p><strong>Overtravel after sheet edge</strong>: Es la distancia que recorre el cabezal de la máquina más allá del borde de la chapa con el láser encendido y la regulación de distancia desactivada. Es posible proporcionar una distancia de trayecto de marcha en inercia para los bordes izquierdo, inferior, derecho y superior de la chapa de forma individual.</p>
</div>
<div class="paragraph">
<p><strong>Start by piercing on sheet</strong>: Al cortar una chapa, la boquilla baja en la ruta del trayecto de marcha en inercia. Si el cabezal láser no se eleva antes de volver a entrar en la chapa, puede chocar contra ella y dañar la boquilla. La habilitación de la
<strong>casilla de verificación Start by piercing on sheet</strong> evita el deterioro de la boquilla. De forma predeterminada, esta opción estará desactivada. Si se activa, al realizar un corte de tiras desde el borde de la chapa, la penetración se realizará en la chapa más cercana al borde, además de bloquear el cabezal láser en ese punto. Esto evita el deterioro de la boquilla.</p>
</div>
</div>
</div>

                    </article>
                </div>
                <div id="site-toc-holder">
                    <aside id="site-toc">
 <h3>Contents</h3>
 <ul>
  <li level="1">
   <a href="#_sheet_cutting_rules">Sheet Cutting Rules</a>
  </li>
  <li level="1">
   <a href="#_sheet_cut_parameters">Sheet cut parameters</a>
  </li>
 </ul>
</aside>

                </div>
            </div>
            <nav class="pagination">
 <span class="prev"><a href="sheethandling.html">Manipulación de chapa</a></span>
 <span class="next"><a href="worksupport.html">Soporte de trabajo</a></span>
</nav>

        </div>
        <div id="searchbox">
          <input id="searchinput" type="search" placeholder="Search... (Key: F)" autocomplete="false" size="30" />
          <ul id="results"></ul>
        </div>
    </div>
    <footer id="site-footer">
        <div class="left">
            <p>&nbsp;&nbsp;Copyright &copy; 2025 by TRUMPF SE + Co.KG. All rights reserved.</p>
        </div>
        <div class="middle"></div>
        <div class="right">
            <p>Compiled by Bento</p>
            <img src="../../../res/bento.png" />
        </div>
    </footer>
    <script>
        // The baseLevel is used to assign the search result pages.
        var baseLevel = "../../../res".replace("res", "");
    </script>
    <script src="https://unpkg.com/lunr/lunr.js"></script>
    <script src="../../../res/index.js"></script>
    <script src="../../../res/files.js"></script>
    <script src="../../../res/site.js"></script>

    
</body>
</html>
