<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../../res/bento.css">
  <link rel="stylesheet" href="../../../res/site.css">
  <link rel="stylesheet" href="../../../res/tree.css">
  <link rel="stylesheet" href="../../../res/sibling.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="../../../img/trumpf-icon.png">
  <title>Pemotongan Sisa Rangka</title>
</head>
<body id="site-body" onload="sLoaded()">
    <header id="site-header">
        <div id="header-logo"><img src="../../../img/logo.trumpf.png" width="120" height="40" /></div>
        <div><p>TecZone Bend Reference Manual</p></div>
    </header>
    <div id="site-main">
        <nav id="site-nav">
            <div class="treesite">
 <ul>
  <li><button class="tree blank"></button><a href="../../../index.html">Selamat datang di TecZone</a></li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../intro/index.html">Pengantar</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../intro/install.html">Menginstal Perangkat Lunak</a></li>
    <li><button class="tree blank"></button><a href="../../../intro/clarity.html">Antarmuka Pengguna</a></li>
    <li><button class="tree blank"></button><a href="../../../intro/workflow.html">Alur Kerja Komponen</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../cad/index.html">CAD</a>
   <ul class="hide">
    <li>
     <button class="tree closed"></button>
     <a href="../../../cad/2dimport/index.html">Impor 2-D</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../cad/2dimport/2dcleanup.html">Pembersihan 2-D</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../cad/3dimport/index.html">Impor 3-D</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../cad/3dimport/prep3dmodel.html">Impor Model 3D</a></li>
      <li><button class="tree blank"></button><a href="../../../cad/3dimport/prepassembly.html">Impor Modul</a></li>
      <li><button class="tree blank"></button><a href="../../../cad/3dimport/formdetect.html">Deteksi Bentuk</a></li>
      <li><button class="tree blank"></button><a href="../../../cad/3dimport/componentdetect.html">Deteksi Komponen</a></li>
     </ul>
    </li>
    <li><button class="tree blank"></button><a href="../../../cad/sketch.html">Memodifikasi Geometri</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../cut/index.html">CAM Laser</a>
   <ul class="hide">
    <li>
     <button class="tree closed"></button>
     <a href="../../../cut/partworkflow/index.html">Alur Kerja Komponen</a>
     <ul class="hide">
      <li>
       <button class="tree closed"></button>
       <a href="../../../cut/partworkflow/panels/index.html">Panel Pengeditan</a>
       <ul class="hide">
        <li>
         <button class="tree closed"></button>
         <a href="../../../cut/partworkflow/panels/lasercut/index.html">Pemotongan Laser</a>
         <ul class="hide">
          <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/lasercut/approach.html">Pendekatan</a></li>
          <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/lasercut/withdrawal.html">Mundur</a></li>
          <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/lasercut/microjoint.html">Sambungan mikro</a></li>
          <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/lasercut/advanced.html">Lanjutan</a></li>
         </ul>
        </li>
        <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/contour.html">Kontur</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/scrapcut.html">Pemotongan Scrap</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/part.html">Komponen</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/cornertreatment.html">Penanganan Sudut</a></li>
       </ul>
      </li>
      <li><button class="tree blank"></button><a href="../../../cut/partworkflow/quicknest.html">Nesting Cepat</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../cut/jobworkflow/index.html">Alur Kerja Nesting</a>
     <ul class="hide">
      <li>
       <button class="tree closed"></button>
       <a href="../../../cut/jobworkflow/jobpanel/index.html">Panel Nesting</a>
       <ul class="hide">
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/jobpanel/sheets.html">Tab Lembaran</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/jobpanel/parts.html">Tab Komponen</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/jobpanel/layouts.html">Tab Rancangan</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/jobpanel/summary.html">Tab Ringkasan</a></li>
       </ul>
      </li>
      <li>
       <button class="tree closed"></button>
       <a href="../../../cut/jobworkflow/editlayout/index.html">Edit Rancangan</a>
       <ul class="hide">
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/editlayout/nestingmodes.html">Mode Nesting</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/editlayout/placementpanel.html">Panel Penempatan</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/editlayout/sequencing.html">Urutan</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/editlayout/slicesheet.html">Lembar Irisan</a></li>
       </ul>
      </li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../cut/bevelcut/index.html">Pemotongan Bevel</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../cut/bevelcut/opencontours.html">Kontur Terbuka</a></li>
      <li><button class="tree blank"></button><a href="../../../cut/bevelcut/variablebevel.html">Bevel Variabel</a></li>
      <li><button class="tree blank"></button><a href="../../../cut/bevelcut/miscellaneous.html">Lain-lain</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../cut/advanced/index.html">Lanjutan</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../cut/advanced/finishingrules.html">Aturan Penyelesaian</a></li>
      <li><button class="tree blank"></button><a href="../../../cut/advanced/editltt.html">Edit LTT</a></li>
      <li><button class="tree blank"></button><a href="../../../cut/advanced/flyline.html">FlyLine</a></li>
      <li>
       <button class="tree closed"></button>
       <a href="../../../cut/advanced/twinline/index.html">TwinLine</a>
       <ul class="hide">
        <li><button class="tree blank"></button><a href="../../../cut/advanced/twinline/strategies.html">Strategi</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/advanced/twinline/microjoints.html">Sambungan mikro</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/advanced/twinline/stability.html">Pengaturan lebih lanjut</a></li>
       </ul>
      </li>
      <li><button class="tree blank"></button><a href="../../../cut/advanced/detectline.html">DetectLine</a></li>
     </ul>
    </li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../bend/index.html">CAM Penekukan</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../bend/createbenddata.html">Buat parameter tekukan</a></li>
    <li><button class="tree blank"></button><a href="../../../bend/navigator.html">Navigator penekukan</a></li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bend/editing/index.html">Edit parameter tekukan</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bend/editing/editbend.html">Edit penekukan</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/editmount.html">Edit pemasangan alat</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/editsetup.html">Edit pengaturan penekukan</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/editgauge.html">Edit backgauge finger</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/editacb.html">Edit pengukuran sudut</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/bendsheet.html">Lembar Kerja Penekukan</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/sequencing.html">Mengubah urutan</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/addsetup.html">Menambahkan pengaturan dan stasiun</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bend/advanced/index.html">Lanjutan</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bend/advanced/anglemeasurement.html">Pengukuran sudut</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/advanced/batchprocess.html">Proses batch</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/advanced/recompute.html">Solusi Perhitungan Ulang</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/advanced/tonnage.html">Pemeriksaan tonase</a></li>
     </ul>
    </li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../bcell/index.html">BendMaster CAM</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../bcell/navigator.html">Navigator Penekukan</a></li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bcell/pickup/index.html">Pengambilan Komponen</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bcell/pickup/frompallet.html">Pengambilan dari Palet</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/pickup/fromdispenser.html">Pengambilan dari Dispenser</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bcell/bending/index.html">Penekukan Robotik</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bcell/bending/insertion.html">Penyisipan</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/bending/bending.html">Penekukan</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/bending/extraction.html">Ekstraksi</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bcell/regrip/index.html">Pencengkeraman Ulang</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bcell/regrip/regrippanel.html">Panel Pencengkeram Ulang</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/regrip/addregrip.html">Tambahkan Pencengkeram Ulang</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/regrip/editregrip.html">Edit Pencengkeram Ulang</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/regrip/jawregrip.html">Pencengkeraman Ulang dengan Jaw</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/regrip/rgstationpanel.html">Panel Stasiun Pencengkeram Ulang</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bcell/deposit/index.html">Endapan Komponen</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bcell/deposit/patterns.html">Pola Endapan</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/deposit/repeat.html">Pengulangan dan Urutan</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/deposit/separatorsheet.html">Lembar Pemisah</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bcell/advanced/index.html">Lanjutan</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bcell/advanced/waypoints.html">Waypoints</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/advanced/cellconfig.html">Konfigurasi Sel</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/advanced/gripperdb.html">Database Gripper</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/advanced/reports.html">Laporan</a></li>
     </ul>
    </li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../fold/index.html">CAM Lipat</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../fold/createfolddata.html">Buat data lipat</a></li>
    <li><button class="tree blank"></button><a href="../../../fold/foldview.html">Tampilan Lipat</a></li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../fold/editing/index.html">Mengedit data Lipat</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../fold/editing/editbend.html">Edit penekukan</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editside.html">Edit sisi/area</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editseq.html">Ubah urutan</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editbh.html">Edit penahan lembaran kosong</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editgauge.html">Edit stopper</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editblade.html">Edit pisau</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editload.html">Edit pemuatan</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editunload.html">Edit pembuangan</a></li>
     </ul>
    </li>
    <li><button class="tree blank"></button><a href="../../../fold/toolinventory.html">Inventaris alat</a></li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../fold/advanced/index.html">Lanjutan</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../fold/advanced/airgaptables.html">Tabel celah udara khusus</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/advanced/manualbend.html">Penyelesaian penekukan manual</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/advanced/minflangelength.html">Panjang Sisi Tekukan yang Diperlukan</a></li>
     </ul>
    </li>
   </ul>
  </li>
  <li>
   <button class="tree open"></button>
   <a href="../../index.html">Pengaturan</a>
   <ul>
    <li>
     <button class="tree closed"></button>
     <a href="../../drawing/index.html">Diagram</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../drawing/layers.html">Layer</a></li>
      <li><button class="tree blank"></button><a href="../../drawing/dimensions.html">Dimensi</a></li>
      <li><button class="tree blank"></button><a href="../../drawing/view.html">Tampilan</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../bendcam/index.html">CAM Penekukan</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../bendcam/benddefaults.html">Pengaturan Default Mesin</a></li>
      <li><button class="tree blank"></button><a href="../../bendcam/bendoutputs.html">Output Penekukan</a></li>
      <li><button class="tree blank"></button><a href="../../bendcam/bendview.html">Tampilan Penekukan</a></li>
      <li><button class="tree blank"></button><a href="../../bendcam/bendcell.html">Sel Penekukan</a></li>
     </ul>
    </li>
    <li>
     <button class="tree open"></button>
     <a href="../index.html">CAM Pemotongan</a>
     <ul>
      <li>
       <button class="tree open"></button>
       <a href="index.html">Rancangan</a>
       <ul>
        <li><button class="tree blank"></button><a href="nesting.html">Pengaturan Nesting</a></li>
        <li><button class="tree blank"></button><a href="sheet.html">Lembar</a></li>
        <li><button class="tree blank"></button><a href="sheethandling.html">Penanganan Lembaran</a></li>
        <li><button class="tree blank"></button><a class="active" href="skeletoncuts.html">Pemotongan Sisa Rangka</a></li>
        <li><button class="tree blank"></button><a href="worksupport.html">Penyangga Kerja</a></li>
       </ul>
      </li>
      <li>
       <button class="tree closed"></button>
       <a href="../lasercam/index.html">CAM Laser</a>
       <ul class="hide">
        <li><button class="tree blank"></button><a href="../lasercam/sequence.html">Urutan</a></li>
       </ul>
      </li>
      <li><button class="tree blank"></button><a href="../cutoutputs.html">Output Pemotongan</a></li>
      <li><button class="tree blank"></button><a href="../cutview.html">Tampilan Pemotongan</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../foldcam/index.html">Penekukan Panel</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../foldcam/defaults.html">Default</a></li>
      <li><button class="tree blank"></button><a href="../../foldcam/zbwcarriers.html">Pembawa ZBW</a></li>
      <li><button class="tree blank"></button><a href="../../foldcam/foldoutputs.html">Output</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../reports/index.html">Laporan</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../reports/itemdefaults.html">Pengaturan Default Item</a></li>
     </ul>
    </li>
    <li><button class="tree blank"></button><a href="../../importexport.html">Impor/Ekspor</a></li>
    <li><button class="tree blank"></button><a href="../../environment.html">Lingkungan</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../database/index.html">Database</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../database/materials.html">Bahan</a></li>
    <li><button class="tree blank"></button><a href="../../../database/machines.html">Mesin</a></li>
    <li><button class="tree blank"></button><a href="../../../database/bendtools.html">Alat Tekuk</a></li>
    <li><button class="tree blank"></button><a href="../../../database/bendgrippers.html">Gripper Penekukan</a></li>
    <li><button class="tree blank"></button><a href="../../../database/formscomponents.html">Pembentukan/Komponen</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../report/index.html">Laporan</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../report/designer.html">Perancang Laporan</a></li>
    <li><button class="tree blank"></button><a href="../../../report/fields.html">Bidang, Gambar, dan Tabel</a></li>
    <li><button class="tree blank"></button><a href="../../../report/bands.html">Band (sublaporan)</a></li>
    <li><button class="tree blank"></button><a href="../../../report/labels.html">Stiker, Bitmap, dan Bentuk</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../appendix/index.html">Lampiran</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../appendix/3dformats.html">Format 3D yang Didukung</a></li>
    <li><button class="tree blank"></button><a href="../../../appendix/bseparatordxf.html">Lembar Pemisah DXF</a></li>
    <li><button class="tree blank"></button><a href="../../../appendix/bendtooldxf.html">Alat Tekuk DXF</a></li>
   </ul>
  </li>
  <li><button class="tree blank"></button><a href="../../../impressum.html">Impressum</a></li>
 </ul>
</div>

        </nav>
        <div id="site-nav-right">
            <nav id="site-crumb">
 <div>
  <button>
   <img src="../../../res/home.png">
  </button>
 </div>
 <div>
  <a href="../../index.html">Pengaturan</a>
 </div>
 <div>/</div>
 <div>
  <a href="../index.html">CAM Pemotongan</a>
 </div>
 <div>/</div>
 <div>
  <a href="index.html">Rancangan</a>
 </div>
 <div>/</div>
 <div>
  <a href="skeletoncuts.html">Pemotongan Sisa Rangka</a>
 </div>
</nav>

            <div id="site-crumb-below">
                <div id="site-toc-left">
                    <article id="article">
                        <h1>Pemotongan Sisa Rangka</h1>
<div class="sect1">
<h2 id="_sheet_cutting_rules">Sheet Cutting Rules</h2>
<div class="sectionbody">
<div class="imageblock">
<div class="content">
<img src="img/skeletoncuts.png" alt="skeletoncuts" width="700">
</div>
</div>
<div class="paragraph">
<p><strong>Slice sheet skeleton</strong>: Jika Anda mengaktifkan opsi ini, TecZone Laser akan secara otomatis menambahkan pemotongan horizontal dan vertikal dengan jarak bebas ke rancangan. Garis irisan ditambahkan dari sudut kiri bawah lembar. Jika garis irisan melewati beberapa komponen, TecZone Laser akan secara otomatis mendeteksi hal ini, dan menambahkan beberapa garis irisan untuk mengiris hanya lembaran sisa rangka yang tersisa di antara komponen-komponen tersebut.</p>
</div>
<div class="paragraph">
<p><strong>X spacing between vertical sheet cuts</strong>: Ini adalah jarak bebas antara garis irisan vertikal.</p>
</div>
<div class="paragraph">
<p><strong>Y spacing between horizontal sheet cuts</strong>: Ini adalah jarak bebas antara garis irisan horizontal.</p>
</div>
<div class="paragraph">
<p><strong>Create remainder sheet</strong>: Lembar sisa membuat pemotongan yang rapi untuk memisahkan lembar sisa dari sisa rangka.</p>
</div>
<div class="paragraph">
<p><strong>Minimum remainder sheet width</strong>: Bahkan jika yang di atas dicentang, pemotongan akhir hanya akan ditambahkan jika lebar lembar yang tidak digunakan yang dihasilkan oleh pemotongan lebih besar dari atau sama dengan nilai ini.</p>
</div>
<div class="paragraph">
<p><strong>Final cut X offset</strong>: Ini adalah jarak dari bagian paling kanan pengaturan alat hingga pemotongan vertikal terakhir yang menghasilkan sisa lembaran.</p>
</div>
<div class="paragraph">
<p><strong>Microjoint spacing on long cuts (0 = no internal microjoints)</strong>:
TecZone Laser memiliki kemampuan untuk membuat sambungan mikro pada pemotongan lembar secara otomatis. Pengguna dapat menentukan jarak sambungan mikro di bawah <strong>Sheet cutting rules</strong> dalam pengaturan.
Sambungan mikro akan dimasukkan ke dalam setiap pemotongan yang lebih panjang dari panjang ini. Secara default, pengaturan ini diatur ke 0 mm, yang berarti sambungan mikro tidak diperlukan pada pemotongan lembar.</p>
</div>
<div class="paragraph">
<p>Dua jenis sambungan mikro dapat dibuat pada pemotongan lembar; <strong>keras</strong> dan <strong>nano</strong>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Secara default, sambungan mikro keras dibuat kecuali jika nano lebih diinginkan.
</td>
</tr>
</table>
</div>
<div class="paragraph">
<p>Bahkan untuk sambungan mikro keras, pelubangan akan terjadi pada garis. Tidak akan ada jalur pendekatan. Namun, jika LTT merekomendasikan pendekatan dengan pengurangan kecepatan, sebagian jalur akan dipotong dengan kecepatan yang dikurangi setelah sambungan mikro.</p>
</div>
<div class="paragraph">
<p><strong>Mark remainder sheet with size, material &amp; thickness</strong>:
TecZone Laser dapat menandai lembar sisa dengan nama bahan, ketebalan, dan ukuran.</p>
</div>
<div class="paragraph">
<p>Jika opsi ini dipilih, penandaan akan ditambahkan jika ada sisa pemotongan lembar pada rancangan. Jika sisa pemotongan lembar dihilangkan karena perubahan pengaturan, penandaan juga akan hilang. Penandaan akan selalu sejajar dengan pemotongan lembar, diposisikan di tengahnya. Jika tidak ada cukup jarak bebas untuk memasukkan teks, TecZone Laser akan secara otomatis mengecilkan ukuran teks atau mengubah orientasi teks penanda.</p>
</div>
<div class="paragraph">
<p>Penandaan juga dapat diedit menggunakan pengaturan <strong>Laser Text</strong>.
Perubahan yang diterapkan pada teks, tinggi, dan besaran sudut akan diingat, tetapi posisi akan dihitung ulang setiap kali posisi pemotongan sisa berubah.</p>
</div>
<div class="paragraph">
<p><strong>Prefer remainder sheet along the longer dimension</strong>:
Opsi ini akan <strong>diaktifkan</strong> secara default. Jika opsi ini diaktifkan, mesin nesting akan memilih pola dengan komponen yang didorong sepanjang dimensi yang lebih besar, kecuali jika pola dengan komponen yang didorong sepanjang dimensi yang lebih pendek menghemat 50% lebih banyak lembaran daripada yang sebelumnya. Jika opsi ini dinonaktifkan, mesin nesting akan memilih pola yang menghasilkan sisa lembaran yang lebih baik (berdasarkan luas sisa lembaran) tanpa memandang arah nesting.</p>
</div>
<div class="paragraph">
<p><strong>Process sheet cuts after all parts</strong>: Secara default, saat pengurutan, TecZone Laser akan memproses pemotongan irisan sebelum memproses pengaturan alat komponen. Hal ini biasanya merupakan ide yang baik, karena head laser dapat bergerak bebas di sekitar lembaran yang belum dipotong saat membuat potongan irisan. Namun, jika Anda ingin memproses pemotongan irisan di bagian akhir, setelah memproses semua komponen, centang opsi ini. Parameter berikut ini memengaruhi cara pemrograman pemotongan setiap irisan.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_sheet_cut_parameters">Sheet cut parameters</h2>
<div class="sectionbody">
<div class="imageblock">
<div class="content">
<img src="img/sheetpara.png" alt="sheetpara" width="600">
</div>
</div>
<div class="paragraph">
<p><strong>Microjoint gap at sheet edge</strong>:
Atur nilai ini menjadi lebih besar dari nol jika Anda ingin menyisakan sedikit bagian slat pada titik-titik di mana pemotongan irisan menyentuh tepi lembar.</p>
</div>
<div class="paragraph">
<p><strong>Microjoint gap at part edge</strong>:
Atur nilai ini menjadi lebih besar dari nol jika Anda ingin menyisakan sedikit bagian slat pada titik-titik di mana pemotongan irisan menyentuh tepi komponen.</p>
</div>
<div class="paragraph">
<p><strong>Pierce distance from part edge</strong>:
Ini adalah jarak titik pelubangan dari tepi komponen. Jika nilainya bukan nol, TecZone Laser akan melakukan pelubangan pada jarak ini dari tepi, kemudian bergerak menuju tepi, sebelum berputar 180 derajat ke kanan di tepi, menelusuri kembali pendekatan yang telah dilakukannya, untuk menyelesaikan pemotongan utama.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="img/ne45.bmp" alt="image" width="267" height="85">
</div>
</div>
<div class="paragraph">
<p><strong>Measuring distance from sheet edge</strong>: Jika tidak ada sambungan kawat yang dibuat di tepi lembaran, itu berarti mesin harus memotong lembaran sampai habis. Namun, hal itu tidak dapat dilakukan dengan kontrol jarak aktif, karena hal itu berisiko menyebabkan kepala mesin runtuh ke dalam meja mesin setelah lembaran. Parameter ini menentukan jarak sebelum tepi lembaran di mana ketinggian head laser dikunci dan kontrol jarak dinonaktifkan. Saat memulai pemotongan di tepi lembaran, mesin akan mencapai titik pengukuran yang ditentukan oleh parameter ini, mengukur ketinggian lembaran, mengunci posisi Z kepala, keluar dari lembaran, menyalakan laser, dan kemudian memulai pemotongan dengan pengaturan jarak dinonaktifkan hingga kembali mencapai titik pengukuran yang sama.</p>
</div>
<div class="paragraph">
<p><strong>Overtravel after sheet edge</strong>: Ini adalah jarak yang ditempuh oleh kepala mesin melampaui tepi lembaran saat laser menyala tetapi kontrol jarak dimatikan. Jarak lewat jalur dapat diatur secara terpisah untuk tepi kiri, bawah, kanan, dan atas lembaran.</p>
</div>
<div class="paragraph">
<p><strong>Start by piercing on sheet</strong>: Saat pemotongan lembaran, nozel akan turun ke jalur lewat jalur. Jika head laser tidak dinaikkan kembali sebelum masuk kembali ke lembaran, head laser dapat menabrak lembaran dan merusak nozel. Mengaktifkan
<strong>kotak centang Start by piercing on sheet</strong> akan mencegah kerusakan nozel. Secara default, opsi ini akan nonaktif. Jika diaktifkan, saat melakukan pemotongan irisan dari tepi lembaran, pelubangan akan dilakukan pada lembaran yang lebih dekat ke tepi selain mengunci kepala laser pada titik tersebut. Hal ini mencegah kerusakan nozel.</p>
</div>
</div>
</div>

                    </article>
                </div>
                <div id="site-toc-holder">
                    <aside id="site-toc">
 <h3>Contents</h3>
 <ul>
  <li level="1">
   <a href="#_sheet_cutting_rules">Sheet Cutting Rules</a>
  </li>
  <li level="1">
   <a href="#_sheet_cut_parameters">Sheet cut parameters</a>
  </li>
 </ul>
</aside>

                </div>
            </div>
            <nav class="pagination">
 <span class="prev"><a href="sheethandling.html">Penanganan Lembaran</a></span>
 <span class="next"><a href="worksupport.html">Penyangga Kerja</a></span>
</nav>

        </div>
        <div id="searchbox">
          <input id="searchinput" type="search" placeholder="Search... (Key: F)" autocomplete="false" size="30" />
          <ul id="results"></ul>
        </div>
    </div>
    <footer id="site-footer">
        <div class="left">
            <p>&nbsp;&nbsp;Copyright &copy; 2025 by TRUMPF SE + Co.KG. All rights reserved.</p>
        </div>
        <div class="middle"></div>
        <div class="right">
            <p>Compiled by Bento</p>
            <img src="../../../res/bento.png" />
        </div>
    </footer>
    <script>
        // The baseLevel is used to assign the search result pages.
        var baseLevel = "../../../res".replace("res", "");
    </script>
    <script src="https://unpkg.com/lunr/lunr.js"></script>
    <script src="../../../res/index.js"></script>
    <script src="../../../res/files.js"></script>
    <script src="../../../res/site.js"></script>

    
</body>
</html>
