<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../../res/bento.css">
  <link rel="stylesheet" href="../../../res/site.css">
  <link rel="stylesheet" href="../../../res/tree.css">
  <link rel="stylesheet" href="../../../res/sibling.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="../../../img/trumpf-icon.png">
  <title>İş Desteği</title>
</head>
<body id="site-body" onload="sLoaded()">
    <header id="site-header">
        <div id="header-logo"><img src="../../../img/logo.trumpf.png" width="120" height="40" /></div>
        <div><p>TecZone Reference Manual</p></div>
    </header>
    <div id="site-main">
        <nav id="site-nav">
            <div class="treesite">
 <ul>
  <li><button class="tree blank"></button><a href="../../../index.html">TecZone'a Hoş Geldiniz</a></li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../intro/index.html">Giriş</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../intro/install.html">Yazılımı Yükleme</a></li>
    <li><button class="tree blank"></button><a href="../../../intro/clarity.html">Operasyon Yüzeyi</a></li>
    <li><button class="tree blank"></button><a href="../../../intro/workflow.html">Parça İş Akışı</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../cad/index.html">CAD</a>
   <ul class="hide">
    <li>
     <button class="tree closed"></button>
     <a href="../../../cad/2dimport/index.html">2-D içe aktarma</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../cad/2dimport/2dcleanup.html">2-D Temizleme</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../cad/3dimport/index.html">3-D içe aktarma</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../cad/3dimport/prep3dmodel.html">3D Modeli İçe Aktarma</a></li>
      <li><button class="tree blank"></button><a href="../../../cad/3dimport/prepassembly.html">Montajı İçe Aktarma</a></li>
      <li><button class="tree blank"></button><a href="../../../cad/3dimport/formdetect.html">Form Algılama</a></li>
      <li><button class="tree blank"></button><a href="../../../cad/3dimport/componentdetect.html">Komponent Algılama</a></li>
     </ul>
    </li>
    <li><button class="tree blank"></button><a href="../../../cad/sketch.html">Geometriyi Değiştirme</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../cut/index.html">Lazer CAM</a>
   <ul class="hide">
    <li>
     <button class="tree closed"></button>
     <a href="../../../cut/partworkflow/index.html">Parça İş Akışı</a>
     <ul class="hide">
      <li>
       <button class="tree closed"></button>
       <a href="../../../cut/partworkflow/panels/index.html">Panelleri Düzenleme</a>
       <ul class="hide">
        <li>
         <button class="tree closed"></button>
         <a href="../../../cut/partworkflow/panels/lasercut/index.html">Lazer Kesim</a>
         <ul class="hide">
          <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/lasercut/approach.html">Yaklaşma</a></li>
          <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/lasercut/withdrawal.html">Geri çekme</a></li>
          <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/lasercut/microjoint.html">Microjoint</a></li>
          <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/lasercut/advanced.html">Gelişmiş</a></li>
         </ul>
        </li>
        <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/contour.html">Kontur</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/scrapcut.html">Hurda Kesimi</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/part.html">Parça</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/cornertreatment.html">Köşe İşleme</a></li>
       </ul>
      </li>
      <li><button class="tree blank"></button><a href="../../../cut/partworkflow/quicknest.html">Hızlı Yerleştirme</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../cut/jobworkflow/index.html">Görev İş Akışı</a>
     <ul class="hide">
      <li>
       <button class="tree closed"></button>
       <a href="../../../cut/jobworkflow/jobpanel/index.html">İş Paneli</a>
       <ul class="hide">
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/jobpanel/sheets.html">Saclar Sekmesi</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/jobpanel/parts.html">Parçalar Sekmesi</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/jobpanel/layouts.html">Yerleşim Düzenleri Sekmesi</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/jobpanel/summary.html">Özet Sekmesi</a></li>
       </ul>
      </li>
      <li>
       <button class="tree closed"></button>
       <a href="../../../cut/jobworkflow/editlayout/index.html">Yerleşim Düzenini Düzenleme</a>
       <ul class="hide">
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/editlayout/nestingmodes.html">Yerleştirme Modları</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/editlayout/placementpanel.html">Konumlandırma Paneli</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/editlayout/sequencing.html">Sıralama</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/editlayout/slicesheet.html">Sac Dilimleme</a></li>
       </ul>
      </li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../cut/bevelcut/index.html">Eğimli Kesim</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../cut/bevelcut/opencontours.html">Açık Konturlar</a></li>
      <li><button class="tree blank"></button><a href="../../../cut/bevelcut/variablebevel.html">Değişken Eğim</a></li>
      <li><button class="tree blank"></button><a href="../../../cut/bevelcut/miscellaneous.html">Diğer</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../cut/advanced/index.html">Gelişmiş</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../cut/advanced/finishingrules.html">Bitirme Kuralları</a></li>
      <li><button class="tree blank"></button><a href="../../../cut/advanced/editltt.html">LTT'yi düzenleme</a></li>
      <li><button class="tree blank"></button><a href="../../../cut/advanced/flyline.html">FlyLine</a></li>
      <li>
       <button class="tree closed"></button>
       <a href="../../../cut/advanced/twinline/index.html">TwinLine</a>
       <ul class="hide">
        <li><button class="tree blank"></button><a href="../../../cut/advanced/twinline/strategies.html">Strateji</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/advanced/twinline/microjoints.html">Mikrojointler</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/advanced/twinline/stability.html">Diğer ayarlar</a></li>
       </ul>
      </li>
      <li><button class="tree blank"></button><a href="../../../cut/advanced/detectline.html">DetectLine</a></li>
     </ul>
    </li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../bend/index.html">Bend CAM</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../bend/createbenddata.html">Bükme parametreleri oluşturma</a></li>
    <li><button class="tree blank"></button><a href="../../../bend/navigator.html">Büküm gezinti öğesi</a></li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bend/editing/index.html">Büküm verilerini düzenleme</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bend/editing/editbend.html">Bir bükümü düzenleme</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/editmount.html">Bir takım montajını düzenleme</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/editsetup.html">Bir büküm kurulumunu düzenleme</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/editgauge.html">Arka dayanakları düzenleme</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/editacb.html">Açı ölçümünü düzenleme</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/bendsheet.html">Bükümler elektronik tablosu</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/sequencing.html">Sıralamayı değiştirme</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/addsetup.html">Kurulumlar ve istasyonlar ekleme</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bend/advanced/index.html">Gelişmiş</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bend/advanced/anglemeasurement.html">Açı ölçümü</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/advanced/batchprocess.html">Toplu işleme</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/advanced/recompute.html">Çözümü yeniden hesaplama</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/advanced/tonnage.html">Tonaj kontrolü</a></li>
     </ul>
    </li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../bcell/index.html">BendMaster CAM</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../bcell/navigator.html">Bend gezinti öğesi</a></li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bcell/pickup/index.html">Parça Alma</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bcell/pickup/frompallet.html">Paletten Alma</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/pickup/fromdispenser.html">Dağıtıcıdan Alma</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bcell/bending/index.html">Robotik Bükme</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bcell/bending/insertion.html">Yerleştirme</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/bending/bending.html">Bükme İşlemi</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/bending/extraction.html">Parça çıkarma</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bcell/regrip/index.html">Kavrama</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bcell/regrip/regrippanel.html">Kavrama Paneli</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/regrip/addregrip.html">Kavrama Ekleme</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/regrip/editregrip.html">Kavramayı Düzenleme</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/regrip/jawregrip.html">Çeneyle Kavrama</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/regrip/rgstationpanel.html">Kavrama İstasyonu Paneli</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bcell/deposit/index.html">Parça Bırakma</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bcell/deposit/patterns.html">Bırakma Örüntüleri</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/deposit/repeat.html">Tekrarlama ve Sıralama</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/deposit/separatorsheet.html">Separatör Sac</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bcell/advanced/index.html">Gelişmiş</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bcell/advanced/waypoints.html">Geçiş Noktaları</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/advanced/cellconfig.html">Hücre Konfigürasyonu</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/advanced/gripperdb.html">Kavrayıcı Veritabanı</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/advanced/reports.html">Raporlar</a></li>
     </ul>
    </li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../fold/index.html">Panel büküm</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../fold/createfolddata.html">Katlama verisi oluşturma</a></li>
    <li><button class="tree blank"></button><a href="../../../fold/foldview.html">Katlama görünümü</a></li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../fold/editing/index.html">Katlama verilerini düzenleme</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../fold/editing/editbend.html">Bir bükümü düzenleme</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editside.html">Bir tarafı/bölümü düzenleme</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editseq.html">Sırayı değiştirme</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editbh.html">Sabitleyicileri düzenleme</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editgauge.html">Dayamayı düzenleme</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editblade.html">Bıçakları düzenleme</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editload.html">Yüklemeyi düzenleme</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editunload.html">Boşaltmayı düzenleme</a></li>
     </ul>
    </li>
    <li><button class="tree blank"></button><a href="../../../fold/toolinventory.html">Takım stoğu</a></li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../fold/advanced/index.html">Gelişmiş</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../fold/advanced/airgaptables.html">Özel hava boşluğu tabloları</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/advanced/manualbend.html">Manuel büküm tamamlama</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/advanced/minflangelength.html">Gerekli Flanş Uzunluğu</a></li>
     </ul>
    </li>
   </ul>
  </li>
  <li>
   <button class="tree open"></button>
   <a href="../../index.html">Ayarlar</a>
   <ul>
    <li>
     <button class="tree closed"></button>
     <a href="../../drawing/index.html">Çizim</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../drawing/layers.html">Katmanlar</a></li>
      <li><button class="tree blank"></button><a href="../../drawing/dimensions.html">Ölçüler</a></li>
      <li><button class="tree blank"></button><a href="../../drawing/view.html">Görünüm</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../bendcam/index.html">Bend CAM</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../bendcam/benddefaults.html">Makine Varsayılanları</a></li>
      <li><button class="tree blank"></button><a href="../../bendcam/bendoutputs.html">Büküm Çıkışları</a></li>
      <li><button class="tree blank"></button><a href="../../bendcam/bendview.html">Büküm Görünümü</a></li>
      <li><button class="tree blank"></button><a href="../../bendcam/bendcell.html">Büküm Hücresi</a></li>
     </ul>
    </li>
    <li>
     <button class="tree open"></button>
     <a href="../index.html">Cut CAM</a>
     <ul>
      <li>
       <button class="tree open"></button>
       <a href="index.html">Yerleşim Düzeni</a>
       <ul>
        <li><button class="tree blank"></button><a href="nesting.html">Yerleştirme Ayarları</a></li>
        <li><button class="tree blank"></button><a href="sheet.html">Sac</a></li>
        <li><button class="tree blank"></button><a href="sheethandling.html">Sac İşleme</a></li>
        <li><button class="tree blank"></button><a href="skeletoncuts.html">İskelet Kesimleri</a></li>
        <li><button class="tree blank"></button><a class="active" href="worksupport.html">İş Desteği</a></li>
       </ul>
      </li>
      <li>
       <button class="tree closed"></button>
       <a href="../lasercam/index.html">Lazer CAM</a>
       <ul class="hide">
        <li><button class="tree blank"></button><a href="../lasercam/sequence.html">Sıralama</a></li>
       </ul>
      </li>
      <li><button class="tree blank"></button><a href="../cutoutputs.html">Kesim Çıkışları</a></li>
      <li><button class="tree blank"></button><a href="../cutview.html">Kesim Görünümü</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../foldcam/index.html">Panel büküm</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../foldcam/defaults.html">Varsayılanlar</a></li>
      <li><button class="tree blank"></button><a href="../../foldcam/zbwcarriers.html">İBT Taşıyıcı Parçaları</a></li>
      <li><button class="tree blank"></button><a href="../../foldcam/foldoutputs.html">Çıkışlar</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../reports/index.html">Raporlar</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../reports/itemdefaults.html">Öğe Varsayılanları</a></li>
     </ul>
    </li>
    <li><button class="tree blank"></button><a href="../../importexport.html">İçe/Dışa Aktarma</a></li>
    <li><button class="tree blank"></button><a href="../../environment.html">Çevre</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../database/index.html">Veri tabanı</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../database/materials.html">Malzemeler</a></li>
    <li><button class="tree blank"></button><a href="../../../database/machines.html">Makineler</a></li>
    <li><button class="tree blank"></button><a href="../../../database/bendtools.html">Bükme Takımları</a></li>
    <li><button class="tree blank"></button><a href="../../../database/bendgrippers.html">Bükme Kavrayıcıları</a></li>
    <li><button class="tree blank"></button><a href="../../../database/formscomponents.html">Formlar/Komponentler</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../report/index.html">Raporlar</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../report/designer.html">Rapor Tasarımcısı</a></li>
    <li><button class="tree blank"></button><a href="../../../report/fields.html">Alanlar, Resimler ve Tablolar</a></li>
    <li><button class="tree blank"></button><a href="../../../report/bands.html">Bantlar (alt raporlar)</a></li>
    <li><button class="tree blank"></button><a href="../../../report/labels.html">Etiketler, Bit Eşlemler ve Şekiller</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../appendix/index.html">Ek</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../appendix/3dformats.html">Desteklenen 3D Formatları</a></li>
    <li><button class="tree blank"></button><a href="../../../appendix/bseparatordxf.html">Separatör Sac DXF</a></li>
    <li><button class="tree blank"></button><a href="../../../appendix/bendtooldxf.html">Bükme Takımı DXF</a></li>
   </ul>
  </li>
  <li><button class="tree blank"></button><a href="../../../impressum.html">Künyemiz</a></li>
 </ul>
</div>

        </nav>
        <div id="site-nav-right">
            <nav id="site-crumb">
 <div>
  <button>
   <img src="../../../res/home.png">
  </button>
 </div>
 <div>
  <a href="../../index.html">Ayarlar</a>
 </div>
 <div>/</div>
 <div>
  <a href="../index.html">Cut CAM</a>
 </div>
 <div>/</div>
 <div>
  <a href="index.html">Yerleşim Düzeni</a>
 </div>
 <div>/</div>
 <div>
  <a href="worksupport.html">İş Desteği</a>
 </div>
</nav>

            <div id="site-crumb-below">
                <div id="site-toc-left">
                    <article id="article">
                        <h1>İş Desteği</h1>
<div id="preamble">
<div class="sectionbody">
<div class="imageblock left">
<div class="content">
<img src="img/worksupport.png" alt="worksupport" width="200">
</div>
</div>
<div class="imageblock">
<div class="content">
<img src="img/worksupport1.png" alt="worksupport1" width="600">
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_work_support_configuration">Work support configuration</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Distance between slats</strong> - Bu ayar, makinedeki destekleyici profiller arasındaki
mesafeyi belirtir.</p>
</div>
<div class="paragraph">
<p><strong>Offset of first slat from machine origin</strong> - Bu ayar, makine orjininden ilk destekleyici profil ofsetini tanımlamak amacıyla kullanılır.</p>
</div>
<div class="paragraph">
<p><strong>Offset of first pin in a slat</strong> - Bu ayar, bir destekleyici profil içindeki ilk pimin ofsetini tanımlamak amacıyla kullanılır.</p>
</div>
<div class="paragraph">
<p><strong>Distance between support pins in a slat</strong> - Bu ayar, bir destekleyici profil içindeki destek pimleri
arasındaki mesafeyi tanımlamak amacıyla kullanılır.</p>
</div>
<div class="paragraph">
<p><strong>Slats are along X-axis (horizontal)</strong> - X ekseni boyunca destekleyici profiller
yatay ise bunu etkinleştirin.</p>
</div>
<div class="paragraph">
<p><strong>Pins in alternate slats are at an offset</strong> - Alternatif destekleyici profillerdeki pimler
ofset konumda ise bunu etkinleştirin.</p>
</div>
</div>
</div>

                    </article>
                </div>
                <div id="site-toc-holder">
                    <aside id="site-toc">
 <h3>Contents</h3>
 <ul>
  <li level="1">
   <a href="#_work_support_configuration">Work support configuration</a>
  </li>
 </ul>
</aside>

                </div>
            </div>
            <nav class="pagination">
 <span class="prev"><a href="skeletoncuts.html">İskelet Kesimleri</a></span>
 <span class="next"><a href="../lasercam/index.html">Lazer CAM</a></span>
</nav>

        </div>
        <div id="searchbox">
          <input id="searchinput" type="search" placeholder="Search... (Key: F)" autocomplete="false" size="30" />
          <ul id="results"></ul>
        </div>
    </div>
    <footer id="site-footer">
        <div class="left">
            <p>&nbsp;&nbsp;Copyright &copy; 2025 by TRUMPF SE + Co.KG. All rights reserved.</p>
        </div>
        <div class="middle"></div>
        <div class="right">
            <p>Compiled by Bento</p>
            <img src="../../../res/bento.png" />
        </div>
    </footer>
    <script>
        // The baseLevel is used to assign the search result pages.
        var baseLevel = "../../../res".replace("res", "");
    </script>
    <script src="https://unpkg.com/lunr/lunr.js"></script>
    <script src="../../../res/index.js"></script>
    <script src="../../../res/files.js"></script>
    <script src="../../../res/site.js"></script>

    
</body>
</html>
