<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../../res/bento.css">
  <link rel="stylesheet" href="../../../res/site.css">
  <link rel="stylesheet" href="../../../res/tree.css">
  <link rel="stylesheet" href="../../../res/sibling.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="../../../img/trumpf-icon.png">
  <title>Skeleton Cuts</title>
</head>
<body id="site-body" onload="sLoaded()">
    <header id="site-header">
        <div id="header-logo"><img src="../../../img/logo.trumpf.png" width="120" height="40" /></div>
        <div><p>TecZone Reference Manual</p></div>
    </header>
    <div id="site-main">
        <nav id="site-nav">
            <div class="treesite">
 <ul>
  <li><button class="tree blank"></button><a href="../../../index.html">Välkommen till TecZone</a></li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../intro/index.html">Inledning</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../intro/install.html">Installera programvaran</a></li>
    <li><button class="tree blank"></button><a href="../../../intro/clarity.html">Användarsnittstället</a></li>
    <li><button class="tree blank"></button><a href="../../../intro/workflow.html">Delarbetsflöde</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../cad/index.html">CAD</a>
   <ul class="hide">
    <li>
     <button class="tree closed"></button>
     <a href="../../../cad/2dimport/index.html">2D-import</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../cad/2dimport/2dcleanup.html">2D-rensning</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../cad/3dimport/index.html">3D-import</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../cad/3dimport/prep3dmodel.html">Importera 3D-modell</a></li>
      <li><button class="tree blank"></button><a href="../../../cad/3dimport/prepassembly.html">Importera modul</a></li>
      <li><button class="tree blank"></button><a href="../../../cad/3dimport/formdetect.html">Formdetektering</a></li>
      <li><button class="tree blank"></button><a href="../../../cad/3dimport/componentdetect.html">Komponentdetektering</a></li>
     </ul>
    </li>
    <li><button class="tree blank"></button><a href="../../../cad/sketch.html">Ändra geometrin</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../cut/index.html">Laserskärning</a>
   <ul class="hide">
    <li>
     <button class="tree closed"></button>
     <a href="../../../cut/partworkflow/index.html">Delarbetsflöde</a>
     <ul class="hide">
      <li>
       <button class="tree closed"></button>
       <a href="../../../cut/partworkflow/panels/index.html">Redigeringspaneler</a>
       <ul class="hide">
        <li>
         <button class="tree closed"></button>
         <a href="../../../cut/partworkflow/panels/lasercut/index.html">Laserskärning</a>
         <ul class="hide">
          <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/lasercut/approach.html">Framkörning</a></li>
          <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/lasercut/withdrawal.html">Retur</a></li>
          <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/lasercut/microjoint.html">Microjoint</a></li>
          <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/lasercut/advanced.html">Avancerat</a></li>
         </ul>
        </li>
        <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/contour.html">Kontur</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/scrapcut.html">Skrotkapning</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/part.html">Del</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/partworkflow/panels/cornertreatment.html">Hörnbehandling</a></li>
       </ul>
      </li>
      <li><button class="tree blank"></button><a href="../../../cut/partworkflow/quicknest.html">Quick-Nest</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../cut/jobworkflow/index.html">Arbetsflöde</a>
     <ul class="hide">
      <li>
       <button class="tree closed"></button>
       <a href="../../../cut/jobworkflow/jobpanel/index.html">Jobbpanel</a>
       <ul class="hide">
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/jobpanel/sheets.html">Fliken Plåtar</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/jobpanel/parts.html">Fliken Delar</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/jobpanel/layouts.html">Fliken Layouter</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/jobpanel/summary.html">Fliken Sammanfattning</a></li>
       </ul>
      </li>
      <li>
       <button class="tree closed"></button>
       <a href="../../../cut/jobworkflow/editlayout/index.html">Redigera layout</a>
       <ul class="hide">
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/editlayout/nestingmodes.html">Nestinglägen</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/editlayout/placementpanel.html">Placeringspanel</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/editlayout/sequencing.html">Sekvensering</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/jobworkflow/editlayout/slicesheet.html">Skiva plåt</a></li>
       </ul>
      </li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../cut/bevelcut/index.html">Fassnitt</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../cut/bevelcut/opencontours.html">Öppna konturer</a></li>
      <li><button class="tree blank"></button><a href="../../../cut/bevelcut/variablebevel.html">Variabel fas</a></li>
      <li><button class="tree blank"></button><a href="../../../cut/bevelcut/miscellaneous.html">Diverse</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../cut/advanced/index.html">Avancerat</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../cut/advanced/finishingrules.html">Efterbehandlingsregler</a></li>
      <li><button class="tree blank"></button><a href="../../../cut/advanced/editltt.html">Redigera LTT</a></li>
      <li><button class="tree blank"></button><a href="../../../cut/advanced/flyline.html">FlyLine</a></li>
      <li>
       <button class="tree closed"></button>
       <a href="../../../cut/advanced/twinline/index.html">TwinLine</a>
       <ul class="hide">
        <li><button class="tree blank"></button><a href="../../../cut/advanced/twinline/strategies.html">Strategi</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/advanced/twinline/microjoints.html">Microjoints</a></li>
        <li><button class="tree blank"></button><a href="../../../cut/advanced/twinline/stability.html">Ytterligare inställningar</a></li>
       </ul>
      </li>
      <li><button class="tree blank"></button><a href="../../../cut/advanced/detectline.html">DetectLine</a></li>
     </ul>
    </li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../bend/index.html">Kantpressar</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../bend/createbenddata.html">Skapa bockningsdata</a></li>
    <li><button class="tree blank"></button><a href="../../../bend/navigator.html">Bend Navigator</a></li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bend/editing/index.html">Redigera bockningsdata</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bend/editing/editbend.html">Redigera en bockning</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/editmount.html">Redigera ett verktygsfäste</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/editsetup.html">Redigera en bockningsinställning</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/editgauge.html">Redigera anslagsfingrarna</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/editacb.html">Redigera vinkelmätning</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/bendsheet.html">Kalkylblad för bockningar</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/sequencing.html">Ändra sekvensen</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/editing/addsetup.html">Lägga till inställningar och stationer</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bend/advanced/index.html">Avancerat</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bend/advanced/anglemeasurement.html">Vinkelmätning</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/advanced/batchprocess.html">Batchbearbetning</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/advanced/recompute.html">Beräkna lösning på nytt</a></li>
      <li><button class="tree blank"></button><a href="../../../bend/advanced/tonnage.html">Kontroll av belastning</a></li>
     </ul>
    </li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../bcell/index.html">BendMaster CAM</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../bcell/navigator.html">Bend Navigator</a></li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bcell/pickup/index.html">Upplockning av delar</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bcell/pickup/frompallet.html">Upplockning från palett</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/pickup/fromdispenser.html">Upplockning från matare</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../bcell/bending/index.html">Robotbockning</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../bcell/bending/insertion.html">Insättning</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/bending/bending.html">Bockning</a></li>
      <li><button class="tree blank"></button><a href="../../../bcell/bending/extraction.html">Uttag</a></li>
     </ul>
    </li>
    <li><button class="tree blank"></button><a href="../../../bcell/regrip/index.html">Omgrepp</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../fold/index.html">Svängbockning</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../fold/createfolddata.html">Skapa vikdata</a></li>
    <li><button class="tree blank"></button><a href="../../../fold/foldview.html">Vikningsvyn</a></li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../fold/editing/index.html">Redigera vikningsdata</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../fold/editing/editbend.html">Redigera en bockning</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editside.html">Redigera en sida/ett avsnitt</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editseq.html">Ändra sekvensen</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editbh.html">Redigera nedhållarna</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editgauge.html">Redigera anslagen</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editblade.html">Redigera knivarna</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editload.html">Redigera inlastningen</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/editing/editunload.html">Redigera utlastningen</a></li>
     </ul>
    </li>
    <li><button class="tree blank"></button><a href="../../../fold/toolinventory.html">Verktygsbestånd</a></li>
    <li>
     <button class="tree closed"></button>
     <a href="../../../fold/advanced/index.html">Avancerat</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../../fold/advanced/airgaptables.html">Anpassade luftspalttabeller</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/advanced/manualbend.html">Slutförande av manuell bockning</a></li>
      <li><button class="tree blank"></button><a href="../../../fold/advanced/minflangelength.html">Erforderlig skänkellängd</a></li>
     </ul>
    </li>
   </ul>
  </li>
  <li>
   <button class="tree open"></button>
   <a href="../../index.html">Inställningar</a>
   <ul>
    <li>
     <button class="tree closed"></button>
     <a href="../../drawing/index.html">Ritning</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../drawing/layers.html">Lager</a></li>
      <li><button class="tree blank"></button><a href="../../drawing/dimensions.html">Mått</a></li>
      <li><button class="tree blank"></button><a href="../../drawing/view.html">Vy</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../bendcam/index.html">Bend CAM</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../bendcam/benddefaults.html">Maskinens standardinställningar</a></li>
      <li><button class="tree blank"></button><a href="../../bendcam/bendoutputs.html">Bend Outputs</a></li>
      <li><button class="tree blank"></button><a href="../../bendcam/bendview.html">Bockningsvy</a></li>
      <li><button class="tree blank"></button><a href="../../bendcam/bendcell.html">Bockcell</a></li>
     </ul>
    </li>
    <li>
     <button class="tree open"></button>
     <a href="../index.html">Cut CAM</a>
     <ul>
      <li>
       <button class="tree open"></button>
       <a href="index.html">Layout</a>
       <ul>
        <li><button class="tree blank"></button><a href="nesting.html">Inställningar för nesting</a></li>
        <li><button class="tree blank"></button><a href="sheet.html">Plåt</a></li>
        <li><button class="tree blank"></button><a href="sheethandling.html">Plåthantering</a></li>
        <li><button class="tree blank"></button><a class="active" href="skeletoncuts.html">Skeleton Cuts</a></li>
        <li><button class="tree blank"></button><a href="worksupport.html">Arbetsstöd</a></li>
       </ul>
      </li>
      <li>
       <button class="tree closed"></button>
       <a href="../lasercam/index.html">Laser CAM</a>
       <ul class="hide">
        <li><button class="tree blank"></button><a href="../lasercam/sequence.html">Sekvens</a></li>
       </ul>
      </li>
      <li><button class="tree blank"></button><a href="../cutoutputs.html">Cut Outputs</a></li>
      <li><button class="tree blank"></button><a href="../cutview.html">Skärvy</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../foldcam/index.html">Svängbockning</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../foldcam/defaults.html">Standardinställningar</a></li>
      <li><button class="tree blank"></button><a href="../../foldcam/zbwcarriers.html">ZBW-bärare</a></li>
      <li><button class="tree blank"></button><a href="../../foldcam/foldoutputs.html">Utdata</a></li>
     </ul>
    </li>
    <li>
     <button class="tree closed"></button>
     <a href="../../reports/index.html">Rapporter</a>
     <ul class="hide">
      <li><button class="tree blank"></button><a href="../../reports/itemdefaults.html">Standardinställningar för objekt</a></li>
     </ul>
    </li>
    <li><button class="tree blank"></button><a href="../../importexport.html">Importera/exportera</a></li>
    <li><button class="tree blank"></button><a href="../../environment.html">Miljö</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../database/index.html">Databas</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../database/materials.html">Material</a></li>
    <li><button class="tree blank"></button><a href="../../../database/machines.html">Maskiner</a></li>
    <li><button class="tree blank"></button><a href="../../../database/bendtools.html">Bockningsverktyg</a></li>
    <li><button class="tree blank"></button><a href="../../../database/bendgrippers.html">Bockningsgripdon</a></li>
    <li><button class="tree blank"></button><a href="../../../database/formscomponents.html">Former/komponenter</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../report/index.html">Rapporter</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../report/designer.html">Rapportdesigner</a></li>
    <li><button class="tree blank"></button><a href="../../../report/fields.html">Fält, bilder och tabeller</a></li>
    <li><button class="tree blank"></button><a href="../../../report/bands.html">Band (delrapporter)</a></li>
    <li><button class="tree blank"></button><a href="../../../report/labels.html">Etiketter, bitmappar och former</a></li>
   </ul>
  </li>
  <li>
   <button class="tree closed"></button>
   <a href="../../../appendix/index.html">Bilaga</a>
   <ul class="hide">
    <li><button class="tree blank"></button><a href="../../../appendix/3dformats.html">3D-format som stöds</a></li>
    <li><button class="tree blank"></button><a href="../../../appendix/bseparatordxf.html">Separatorplåt DXF</a></li>
    <li><button class="tree blank"></button><a href="../../../appendix/bendtooldxf.html">Bockningsverktyg DXF</a></li>
   </ul>
  </li>
  <li><button class="tree blank"></button><a href="../../../impressum.html">Impressum</a></li>
 </ul>
</div>

        </nav>
        <div id="site-nav-right">
            <nav id="site-crumb">
 <div>
  <button>
   <img src="../../../res/home.png">
  </button>
 </div>
 <div>
  <a href="../../index.html">Inställningar</a>
 </div>
 <div>/</div>
 <div>
  <a href="../index.html">Cut CAM</a>
 </div>
 <div>/</div>
 <div>
  <a href="index.html">Layout</a>
 </div>
 <div>/</div>
 <div>
  <a href="skeletoncuts.html">Skeleton Cuts</a>
 </div>
</nav>

            <div id="site-crumb-below">
                <div id="site-toc-left">
                    <article id="article">
                        <h1>Skeleton Cuts</h1>
<div class="sect1">
<h2 id="_sheet_cutting_rules">Sheet Cutting Rules</h2>
<div class="sectionbody">
<div class="imageblock">
<div class="content">
<img src="img/skeletoncuts.png" alt="skeletoncuts" width="700">
</div>
</div>
<div class="paragraph">
<p><strong>Slice sheet skeleton</strong>: Om du aktiverar det här alternativet lägger TecZone Laser automatiskt till horisontella och vertikala skärningar med mellanrum i layouten. Skärlinjerna läggs till från plåtens nedre vänstra hörn. Om en skärlinje passerar genom vissa delar upptäcker TecZone Laser detta automatiskt och lägger till flera skärlinjer för att skära ut endast restgitterplåten som finns kvar mellan delarna.</p>
</div>
<div class="paragraph">
<p><strong>X spacing between vertical sheet cuts</strong>: Detta är avståndet mellan vertikala skärlinjer.</p>
</div>
<div class="paragraph">
<p><strong>Y spacing between horizontal sheet cuts</strong>: : Detta är avståndet mellan horisontella skärlinjer.</p>
</div>
<div class="paragraph">
<p><strong>Create remainder sheet</strong>: En restplåt skapar ett rent snitt för att separera restplåten från restgittret.</p>
</div>
<div class="paragraph">
<p><strong>Minimum remainder sheet width</strong>: Även om ovanstående är markerat kommer ett slutligt snitt att läggas till endast när bredden på det oanvända arket som skapas av snittet är större än eller lika med detta värde.</p>
</div>
<div class="paragraph">
<p><strong>Final cut X offset</strong>: Detta är avståndet från den högra yttersta delen av verktyget till det slutliga vertikala snittet som skapar restplåten.</p>
</div>
<div class="paragraph">
<p><strong>Microjoint spacing on long cuts (0 = no internal microjoints)</strong>:
TecZone Laser har förmågan att automatiskt skapa microjoint på plåtskär. Användaren kan ange avståndet mellan microjoints under <strong>Sheet cutting rules</strong> i inställningarna.Microjoints kommer att infogas i alla skär som är längre än denna längd. Som standard är denna inställning inställd på 0 mm, vilket innebär att microjoints inte krävs på plåtskär.Två typer av microjoints är möjliga vid plåtskär: <strong>hårda</strong> och <strong>nano</strong>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Som standard skapas hårda microjoints om inte nanojoints föredras.Även för hårda microjoints kommer piercing att ske på linjen. Det kommer inte att finnas någon framkörningsträcka. Om LTT rekommenderar en framkörning med reducerad hastighet kommer dock en del av linjen att skäras med reducerad hastighet efter microjoint.
</td>
</tr>
</table>
</div>
<div class="paragraph">
<p><strong>Mark remainder sheet with size, material &amp; thickness</strong>:
TecZone Laser kan markera restplåten med materialnamn, tjocklek och storlek.</p>
</div>
<div class="paragraph">
<p>Om detta alternativ väljs kommer markering att läggas till om det finns restplåtskärningar på layouten. Om restplåtskärningen tas bort på grund av någon ändring i inställningarna kommer markeringen också att tas bort. Markeringen kommer alltid att justeras längs plåtskärningen, placerad i dess centrum. Om det inte finns tillräckligt med utrymme för att infoga texten kommer TecZone Laser automatiskt att minska textstorleken eller ändra markeringstextens orientering.Markeringen kan också redigeras med hjälp av inställningarna för <strong>Laser Text</strong>.Ändringar som görs i text, höjd och vinkel sparas, men positionen beräknas om varje gång positionen för restskärningarna ändras.</p>
</div>
<div class="paragraph">
<p><strong>Prefer remainder sheet along the longer dimension</strong>:
Detta alternativ är <strong>aktiverat</strong> som standard. Om detta alternativ är aktiverat väljer nestingmotorn mönstret med delar placerade längs den större dimensionen, såvida inte mönstret med delar placerade längs den kortare dimensionen sparar 50 % mer plåt än det förstnämnda. Om detta alternativ är inaktiverat väljer nestingmotorn det mönster som ger bättre restplåt (baserat på restplåtens area) oavsett nestingriktning.</p>
</div>
<div class="paragraph">
<p><strong>Process sheet cuts after all parts</strong>: Som standard kommer TecZone Laser att bearbeta skivsnitten innan riggning för delarna utförs vid sekvensering. Detta är vanligtvis en bra idé, eftersom laserhuvudet kan röra sig fritt över den oskurna plåten medan skivsnitten görs. Om du dock vill bearbeta skivsnitten i slutet, efter att alla delar har bearbetats, markerar du detta alternativ. Följande parametrar påverkar hur varje enskilt skivsnitt programmeras.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_sheet_cut_parameters">Sheet cut parameters</h2>
<div class="sectionbody">
<div class="imageblock">
<div class="content">
<img src="img/sheetpara.png" alt="sheetpara" width="600">
</div>
</div>
<div class="paragraph">
<p><strong>Microjoint gap at sheet edge</strong>:
Ställ in detta på ett värde större än noll om du vill ha ett litet raster kvar vid de punkter där skivsnittet vidrör plåtkanten.</p>
</div>
<div class="paragraph">
<p><strong>Microjoint gap at part edge</strong>:
Ställ in detta på ett värde större än noll om du vill ha ett litet raster kvar vid de punkter där skivsnittet vidrör delkanten.</p>
</div>
<div class="paragraph">
<p><strong>Pierce distance from part edge</strong>:
Detta är avståndet mellan instickspunkten och delkanten. Om det är ett värde annat än noll kommer TecZone Laser att utföra piercing på detta avstånd från kanten, sedan röra sig mot kanten, innan den vänder 180 grader till höger vid kanten och återgår till den väg den tog för att avsluta huvudskärningen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="img/ne45.bmp" alt="image" width="267" height="85">
</div>
</div>
<div class="paragraph">
<p><strong>Measuring distance from sheet edge</strong>: Om ingen trådförbindelse skapas vid plåtens kant innebär det att maskinen måste skära igenom plåten till slutet. Men det går inte att göra med höjdreglering på, eftersom det finns risk att maskinens huvud faller ner i maskinbädden efter plåten. Denna parameter identifierar avståndet före plåtens kant där laserhuvudets höjd låses och avståndsregleringen stängs av. När ett skär startas vid plåtens kant kommer maskinen att nå den mätpunkt som definieras av denna parameter, mäta plåtens höjd, låsa huvudets Z-position, flytta sig bort från plåten, slå på lasern och sedan börja skära med avståndsregleringen avstängd tills den åter når samma mätpunkt.</p>
</div>
<div class="paragraph">
<p><strong>Overtravel after sheet edge</strong>: Detta är det avstånd som maskinhuvudet rör sig bortom plåtens kant med lasern påslagen men avståndsregleringen avstängd. Det är möjligt att ange eftersläpningssträcka för vänster, nedre, höger och övre plåtkanter individuellt.</p>
</div>
<div class="paragraph">
<p><strong>Start by piercing on sheet</strong>: När du skär en plåt sänks dysan ned i eftersläpningssträckan. Om laserhuvudet inte höjs upp igen innan det återgår till plåten kan det krascha in i plåten och skada dysan. Genom att aktivera kryssrutan
<strong>Start by piercing on sheet</strong> förhindras skador på dysan. Som standard är detta alternativ avaktiverat. Om det är aktiverat kommer piercingen att göras på plåten närmare kanten när du utför en skärning från plåtens kant, förutom att laserhuvudet låses vid den punkten. Detta förhindrar skador på dysan.</p>
</div>
</div>
</div>

                    </article>
                </div>
                <div id="site-toc-holder">
                    <aside id="site-toc">
 <h3>Contents</h3>
 <ul>
  <li level="1">
   <a href="#_sheet_cutting_rules">Sheet Cutting Rules</a>
  </li>
  <li level="1">
   <a href="#_sheet_cut_parameters">Sheet cut parameters</a>
  </li>
 </ul>
</aside>

                </div>
            </div>
            <nav class="pagination">
 <span class="prev"><a href="sheethandling.html">Plåthantering</a></span>
 <span class="next"><a href="worksupport.html">Arbetsstöd</a></span>
</nav>

        </div>
        <div id="searchbox">
          <input id="searchinput" type="search" placeholder="Search... (Key: F)" autocomplete="false" size="30" />
          <ul id="results"></ul>
        </div>
    </div>
    <footer id="site-footer">
        <div class="left">
            <p>&nbsp;&nbsp;Copyright &copy; 2025 by TRUMPF SE + Co.KG. All rights reserved.</p>
        </div>
        <div class="middle"></div>
        <div class="right">
            <p>Compiled by Bento</p>
            <img src="../../../res/bento.png" />
        </div>
    </footer>
    <script>
        // The baseLevel is used to assign the search result pages.
        var baseLevel = "../../../res".replace("res", "");
    </script>
    <script src="https://unpkg.com/lunr/lunr.js"></script>
    <script src="../../../res/index.js"></script>
    <script src="../../../res/files.js"></script>
    <script src="../../../res/site.js"></script>

    
</body>
</html>
